<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>01 - Computational Bioacoustics</title>
    
    <script>
        $(function(){
            $('#header').load('header.html');
        });
    </script>

</head>
<body> 
    <div id="header"></div>
    <section id="publications">
        <div class="publications box">
            <div class="t-top">
                <h1 class="section-title">Computational Bioacoustics</h1>
            </div>
            <div class="pub-bottom">
                <li> Books </li>
                <a href="https://doi.org/10.1515/9781614516316" data-after="Smart"> <p> [B1]. Ganchev T. (2017) Computational Bioacoustics: 
                    Biodiversity Monitoring and Assessment. First Edition. De Gruyter, Berlin, June. 2017. ISBN: 
                    978-1-61451-729-0 </p> </a> 
                <li> Journal articles </li>
                <p> [J1]. Oliveira, A.G., Ventura, T.M., Ganchev, 
                    T.D., Silva, L.N.S., Marques, M.I., Schuchmann, K.-L. (2020). Speeding up training of automated bird recognizers 
                    by data reduction of audio features, PeerJ, 2020 (1), art. no. e8407, DOI: <a href="http://dx.doi.org/10.7717/peerj.8407"> http://dx.doi.org/10.7717/peerj.8407 </a>, 
                    Available: <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85079093983&doi=10.7717%2fpeerj.8407&partnerID=40&md5=fb17a08a062a61c84816ee2edc0e34c8"> 
                        click here </a>  
                </p> 
                <p> [J2].	Pérez-Granados C., K.-L. Schuchmann, T. Ganchev, C. Strüssmann, T. Figueras Dorado-Rodrigues, A. S. de Oliveira 
                    Tissiani, F. Ferreira de Deus, M. I. Marques (2020). Elucidating the diel and seasonal calling behaviour of Elachistocleis 
                    matogrosso (Anura: Microhylidae), Journal of Natural History, 53:43-44, 2699-2710, DOI:  
                    <a href="http://dx.doi.org/10.1080/00222933.2020.1728409"> click here </a>
                </p> 
                <p> [J3].	R. Lima, K.-L Schuchmann, A. Tissiani, L. Nunes, O. Jahn, T. Ganchev, M. Lhano, M. Marques (2018). “Tegmina-size 
                    variation in a Neotropical cricket with implications on spectral song properties”, Journal of Natural History (TNAH), 
                    ISSN: 0022-2933, vol. 52, no. 19-20, pp. 1225-1241, Taylor & Francis, DOI: 
                    <a href="http://dx.doi.org/10.1080/00222933.2018.1457728"> click here </a>, 
                    IF2016=0.834
                </p>
                <p> [J4].	O. Jahn, T. Ganchev, M. I. Marques, K-L. Schuchmann (2017). Automated sound recognition provides insights 
                    into the life history of a tropical bird, PLoS ONE 12(1): e0169041. doi:  
                    <a href="http://dx.doi.org/10.1371/journal.pone.0169041"> click here </a>
                </p>
                <p>
                    [J5].	K.-L. Schuchmann, A.S. Tissiani, F.F. de Deus, F. Nunes, L. Moecklinghoff, O. Jahn, T. Ganchev, K. Burs, 
                    M.I. Marques (2016). “INAU Pantanal BioData Center: o primeiro banco de dados audiovisual para áreas úmidas do 
                    Brasil”, SB Zoologia, ISSN 1808-0812, vol. XXXVIII, Número 118, Curitiba, Setembro, 2016. pp. 4-6.
                </p>
                <p>
                    [J6].	R. M. Lima, L. P. Martins, M. R. Pereira, T. Ganchev, O. Jahn, M. G. Lhano, M. I. Marques, K.-L. Schuchmann 
                    (2016). Lerneca inalata beripocone Subsp. Nov. (Orthoptera, Phalangopsidae, Luzarinae): New Taxon for the Northern 
                    Pantanal of Brazil. Zootaxa ISSN: 1175-5326., Oct 17;4175(4):366-376. doi: <a href="http://dx.doi.org/10.11646/zootaxa.4175.4.6.">
                        click here</a>, (IF2015=0.994).
                </p>
                <p>
                    [J7].	A. G. de Oliveira, T. M. Ventura, T. Ganchev, J. M. de Figueiredo, O. Jahn, M. I. Marques, K.-L. Schuchmann 
                    (2015). “Bird acoustic activity detection based on morphological filtering of the spectrogram”, Applied Acoustics, 
                    ISSN: 0003-682X, Elsevier, vol. 98, no. Nov. 2015, pp. 34–42. (IF2014=1.024). 
                    <a href="http://dx.doi.org/10.1016/j.apacoust.2015.04.014"> click here</a>
                </p>
                <p>
                    [J8].	T. Ganchev, O. Jahn, M. I. Marques, J. M. de Figueiredo, K.-L. Schuchmann (2015). “Automated acoustic 
                    detection of Vanellus chilensis lampronotus”, Expert Systems with Applications, ISSN: 0957-4174, Elsevier, vol. 
                    42, no. 15–16, Sept. 2015, pp. 6098–6111, (IF2014=2.240). 
                    <a href="http://dx.doi.org/10.1016/j.eswa.2015.03.036"> click here</a>
                </p> 
                <p>
                    [J9].	T. M. Ventura, A. G. de Oliveira, T. D. Ganchev, J. M. de Figueiredo, O. Jahn, M. I. Marques, K.-L. 
                    Schuchmann (2015). Audio parameterization with robust frame selection for improved bird identification, Expert 
                    Systems with Applications, ISSN 0957-4174, Elsevier, vol. 42, no. 22, Dec. 2015, pp. 8463-8471, 
                    <a href="http://dx.doi.org/10.1016/j.eswa.2015.07.002">click here</a>, (IF2014=2.240).
                </p>  
                <p>
                    [J10].	T. Ganchev (2015). “Morphological Processing оf the Audio Spectrogram for Improved Acoustic Recognition of Bird Species”, 
                    Списание „Акустика“, ISSN 1312-4897, СЕЕС– София, България, брой 17, Дек. 2015, стр.66-69.
                </p>    
                <p>
                    [J11].	I. Mporas, T. Ganchev, O. Kocsis, N. Fakotakis, O. Jahn, K. Riede (2013). “Integration of Temporal Contextual Information 
                    for Robust Acoustic Recognition of Bird Species from Real-Field Data”, International Journal of Intelligent Systems 
                    and Applications (IJISA), ISSN: 2074-904X, vol.5, no.7. pp.9-15, 2013, 
                    <a href="http://www.mecs-press.org/ijisa/index.html"> click here </a> 
                </p> 
                <p>
                    [J12].	I. Potamitis, T. Ganchev, D. Kododimas: On Automatic Bioacoustic Detection of Pests: The Cases of Rhynchophorus Ferrugineus 
                    and Sitophilus Oryzae, Journal of Economic Entomology, ISSN 0022-0493, vol.102, no. 4, 2009, pp. 1681-1690.
                </p>
                <p> 
                    [J13].	T. Ganchev, I. Potamitis: Automatic Acoustic Identification of Singing Insects, Bioacoustics: The International Journal 
                    of Animal Sound and its Recording, ISSN 0952-4622, vol. 16, no.3, 2007. pp. 281-328.
                </p>
                <p> 
                    [J14].	Денева П., Ганчев Т., (2018). Моделиране на характеристична мелодия на птичи вокализации, списание Компютърни 
                    Науки и Технологии, Година XVI, Брой 1/2018, ТУ-Варна, стр.156-160.
                </p>
                <p> 
                    [J15].	N. Dukov, P. Deneva, T. Ganchev, P. Parushev (2016) “Intelligent Audio Logger for Bird Sounds”, Списание 
                    Акустика-2016, ISSN 1312-4897, брой 18, 2016, pp.87-90.
                </p>

                <li> Book chapters</li>
                <p>
                    [BC1] T. Ganchev (2019). „Ubiquitous Computing & Biodiversity Monitoring”, Book Chapter 8 in Eds: Amy Neustein, 
                    “Advances in Ubiquitous Computing: Cyber-Physical Systems, Smart Cities, and Ecological Monitoring”, 2019. 
                    <a href="https://doi.org/10.1016/B978-0-12-816801-1.00008-6">click here</a> 
                </p> 
                <p>
                    [BC6] Potamitis I., Ganchev T.: Generalized Recognition of Sound Events: Approaches and Applications, Chapter 
                    3 in Multimedia Services in Intelligent Environments, Studies in Computational Intelligence (SCI) 120, ISBN 
                    978-3-540-78491-3, (Eds: G.A. Tsihrintzis and L.C. Jain.), Springer-Verlag Berlin Heidelberg, 2008, pp.41–79.
                </p>
                
                <li> Conference Proceedings and Lecture Notes</li>
                <p>
                    [C1].	T. Ganchev, I. Mporas, O. Jahn, K. Riede, K.-L. Schuchmann, N. Fakotakis (2012). "Acoustic Bird 
                    Activity Detection on Real-Field Data", I. Maglogiannis, V. Plagianakos, and I. Vlahavas (Eds.): SETN 2012, 
                    LNAI 7297, pp. 190–197, 2012. © Springer-Verlag Berlin Heidelberg 2012.
                </p>
                <p>
                    [C2].	I. Mporas, T. Ganchev, O. Kocsis, N. Fakotakis, O. Jahn, K. Riede, K.-L. Schuchmann (2012). 
                    “Automated Acoustic Classification of Bird Species from Real -Field Recordings”, Proc. of the IEEE 
                    International Conference on Tools with Artificial Intelligence (ICTAI-2012), November 7-9, 2012, Athens, Greece.
                </p>
                <p>
                    [C3].	T. Ganchev, K. Riede, I. Potamitis, T. Stoyanova, S. Ntalampiras, V. Dimitriou, B. Nomikos, K. Birkos, 
                    O. Jahn, N. Fakotakis (2011). “AmiBio: Automatic acoustic Monitoring and Inventorying of BIOdiversity”, Poster 
                    and presentation at the IBAC 2011, La Rochelle, France, 12-16 September 2011.
                </p>
                <p>
                    [C4].	T. Theodorou, T. Ganchev, N. Fakotakis, “Sound Source Enumeration in Real-World Setup”, Proc. of the 5th 
                    National Conference ACOUSTICS 2010, Athens, Greece, October 4-6, 2010.
                </p>
                <p>
                    [C5].	I. Potamitis, T. Ganchev, N. Fakotakis: Automatic Bioacoustic Detection of Rhynchophorus Ferrugineus, 
                    Proc. of the EUSIPCO 2008, August 25-29, Luisiane, Switzerland.
                </p>
                <p>
                    [C6].	T. Ganchev, I. Potamitis, N. Fakotakis: Acoustic Monitoring of Singing Insects, Proc. of the 
                    ICASSP-2007. Vol.4, pp.721-724.
                </p>
                <p>
                    [C7].	I. Potamitis, T. Ganchev, N. Fakotakis: Automatic Acoustic Identification of Crickets and Cicadas, 
                    Proc. of the 20th IEEE International Symposium Signal Processing and Application, ISSPA-2007, Sharjah Millennium Hotel, 
                    United Arab Emirates (UAE), February 12-15, 2007. 
                </p>

                <li> Magazines & Bulletins  </li>
                <p>
                    [M1].	Ventura, T.M., Oliveira, A.G., Ganchev, T.D., Marques, M. I., Schuchmann, K.-L. Inteligência Artificial a Serviço 
                    da Biodiversidade do Pantanal. Revista Computação Brasil. Porto Alegre, pp.23-26, 2020.
                </p>
                <p>
                    [M2].	K.-L. Schuchmann, M.I. Marques, O. Jahn, T. Ganchev, J. M. de Figueiredo (2014).  Os Sons do Pantanal: um projeto 
                    de monitoramento acústico automatizado da biodiversidade, Boletim Informativo Sociedade Brasileira de Zoologia 108:  11-12 April. 
                </p>
                <p>
                    [M3].   L. Moecklinghoff, K.-L. Schuchmann, K. Burs, R. Wistuba, M.I. Marques, O. Jahn, T. Ganchev, J.M. de Figueiredo, F.F. de Deus 
                    (2014). Descobrindo a vida secreta dos mamíferos do Pantanal, Boletim Informativo Sociedade Brasileira de Zoologia 108:  
                    7-8 April. 
                </p>
                <p>
                    [M4].	 K.-L. Schuchmann, M.I. Marquez, O. Jahn, T. Ganchev, J. M. de Figueiredo (2014). Os Sons do Pantanal CRBio-01, 
                    O Biólogo 29:  12-15 Jan-Fev-Mar.
                </p>

                <li> Technical Reports</li>
                <p>
                    [R1] T. Ganchev, O. Kocsis, A. Lazaridis, N. Fakotakis, I. Potamitis, B. Nomikos, V. Dimitriou, K. Riede, Olaf Jahn 
                    “Action A.1 Management and coordination plan”. (report). AmiBio project, April 2010. 
                    <a href="http://www.amibio-project.eu/">click here</a>
                </p>
                <p>
                    [R2] S. Ntalampiras, T. Kostoulas, Ts. Stoyanova, I. Potamitis, Olaf Jahn, B. Nomikos, V. Dimitriou, K. Mpirkos, 
                    T. Ganchev, K. Riede: “Action A.3 Requirements analysis and specification of technology design aspects.” (report). 
                    AmiBio project, January 2011. 
                </p>
                <p>
                    [R3] T. Ganchev, S. Ntalampiras, K. Mpirkos, T. Stoyanova, I. Mporas, I. Potamitis, O. Jahn, K. Riede: “Action A.4 
                    Overall design of the autonomous surveillance framework”. (report). AmiBio project, March 2011.
                </p>
                <p>
                    [R4] T. Ganchev, K. Birkos, T. Stoyanova, T. Kostoulas, I. Potamitis, O. Jahn, K. Riede: “Action A.5 Development of 
                    data acquisition  module for the sensor nodes”. (report). AmiBio project, June 2011.
                </p>
                <p>
                    [R5] K. Birkos, T. Ganchev: “Action A.6 Development of wireless sensor network – architecture and communication 
                    protocols”. (report). AmiBio project, June 2011.
                </p>
            </div>
        </div>
    </section>
</body>
</html>