<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>02 - Voice Biometrics</title>
    
    <script>
        $(function(){
            $('#header').load('header.html');
        });
    </script>

</head>
<body> 
    <div id="header"></div>
    <section id="publications">
        <div class="publications box">
            <div class="t-top">
                <h1 class="section-title">Voice Biometrics</h1>
            </div>
            <div class="pub-bottom">
                <li> Journal articles </li>
                <p> 
                    [J1].	I. Mporas, T. Ganchev: Estimation of Unknown Speaker’s Height from Speech, International Journal 
                    of Speech Technology, ISSN 1381-2416, vol. 12, no. 4, 2009, pp.149-160. 
                </p>  
                <p>
                    [J2].	R. Saeidi, H. R. Sadegh Mohammadi, T. Ganchev, R. D. Rodman: Particle Swarm Optimization for Sorted Adapted 
                    Gaussian Mixture Models, IEEE Transactions on Audio Speech and Language Processing, IEEE, USA, ISSN: 1558-7916, vol. 17, 
                    no. 2, 2009.  pp. 344-353. 
                </p> 
                <p> [J3].	M. Siafarikas, I. Mporas, T. Ganchev, N. Fakotakis: Speech Recognition Using Wavelet Packet Features, Journal 
                    of Wavelet Theory and Applications, ISSN 0973-6336, vol. 2,  no. 1, 2008. pp. 41-59.
                </p>
                <p> [J4].	M. Siafarikas, T. Ganchev, N. Fakotakis, G. Kokkinakis: Wavelet Packet Approximation of Critical Bands for Speaker 
                    Verification. International Journal of Speech Technology, ISSN 1381-2416, vol. 10, no. 4, 2007. pp. 197-218.
                </p>
                <p>
                    [J5].	T. Ganchev, D.K. Tasoulis, M.N. Vrahatis, N. Fakotakis: Generalized Locally Recurrent Probabilistic Neural Networks 
                    with application to Text-Independent Speaker Verification, Neurocomputing, ISSN 0925-2312, vol. 70, no. 7-9, March 2007. 
                    pp. 1424-1438.
                </p>
                <p>
                    [J6].	T. Giannakopoulos, N.-A. Tatlas, T. Ganchev, I. Potamitis: A Practical, Real-Time Speech-Driven Home Automation Front-end, 
                    IEEE Transactions on Consumer Electronics, ISSN 0098-3063, vol. 51, no. 2, May 2005. pp. 514-523.
                </p>
                <p>
                    [J7].	T. Ganchev, I. Potamitis, N. Fakotakis, G. Kokkinakis: Text-Independent Speaker Verification for Real Fast-Varying Noisy 
                    Environments, International Journal of Speech Technology, ISSN 1381-2416, vol. 7, no.4, October 2004. pp. 281-292.
                </p>
                <p>
                    [J8].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Locally Recurrent Probabilistic Neural Networks with Application 
                    to Speaker Verification, GESTS International Transaction on Speech Science and Engineering, ISSN 1738-4737, vol. 1, no. 2, 
                    December 2004. pp. 1-13.
                </p> 
                <p>
                    [J9].	M. Siafarikas, T. Ganchev, N. Fakotakis: Speaker Verification Reinforced by Objective Wavelet Packets-based Speech 
                    Parameterization, GESTS International Transaction on Speech Science and Engineering, ISSN 1738-4737, 
                    vol. 1, no. 2, December 2004. pp. 60-71.
                </p>  
                <p>
                    [J10].	T. Ganchev, I. Potamitis, N. Fakotakis, G. Kokkinakis: A Model Based Approach for Robust Text-Independent Speaker 
                    Verification in Adverse Environments, Signal Processing and Pattern Recognition, AMSE Periodicals, vol. 47, no. 3, 2004. 
                    pp. 47-66. 
                </p>    
                
                <li>Conference Proceedings and Lecture Notes</li>
                <p>
                    [C1].	T. Ganchev, I. Mporas, N. Fakotakis, “Automatic Height Estimation from Speech in Real-World Setup”, Proc. 
                    of the 2010 European Signal Processing Conference (EUSIPCO 2010), Aalborg, Danmark, August 23-27, 2010. pp. 800-804. 
                </p> 
                <p>
                    [C2].	T. Ganchev, I. Mporas, N. Fakotakis, “Audio Features Selection for Automatic Height Estimation from Speech”, 
                    S. Konstantopoulos et al. (Eds.): Advances in Artificial Intelligence: Theories, Models, and Applications, Proceedings 
                    of the 6th Hellenic Conference on AI, SETN 2010, Athens, Greece, May 4-7, 2010, LNAI 6040/2010.  Springer-Verlag Berlin 
                    Heidelberg 2010, pp. 81–90.
                </p>
                <p>
                    [C3].	S. Ntalampiras, D. Arsić, A. Störmer, T. Ganchev, I. Potamitis, N. Fakotakis, Prometheus Database: A Multimodal 
                    Corpus for Research on Modeling and Interpreting Human Behavior, Proc. of the 16th International Conference on Digital 
                    Signal Processing (DSP 2009), Santorini, Greece. 5-7 July, 2009.
                </p>
                <p>
                    [C4].	S. Ntalampiras, I. Potamitis, T. Ganchev, N. Fakotakis: Audio Database in Support of Potential Threat 
                    and Crisis Situation Management, LREC-2008, Morocco, May 28-30, 2008.
                </p>
                <p>
                    [C5].	J. Ahlberg, D. Arsic, T. Ganchev, A. Linderhed, P. Menezes, S. Ntalampiras, T. Olma, I. Potamitis, J. Ros: 
                    Prometheus: Prediction and interpretation of human behaviour based on probabilistic structures and heterogeneous sensors, 
                    Proc. of the System Demonstrations of the 18th European Conference on Artificial Intelligence, ECAI 2008, ISBN: 
                    978-960-6843-17-4, July 23-25, 2008, Patras, Greece.
                </p>
                <p>
                    [C6].	M. Siafarikas, T. Ganchev, N. Fakotakis: Wavelet Packet Bases for Speaker Recognition, Proc. 
                    of the ICTAI-2007, October 29-31, 2007, Patras, Greece, pp.514-517. 
                </p>
                <p>
                    [C7].	R. Saeidi, T. Ganchev, H.S. Mohammadi: Text independent speaker verification using enhanced sorted Gaussian 
                    mixture model, Proc. of the 2007 IEEE International Conference on Signal Processing and Communication (ICSPC-07), 
                    Dubai, United Arab Emirates (UAE), November 24-27, 2007.
                </p>
                <p>
                    [C8].	T. Ganchev, N. Fakotakis, G. Kokkinakis: The WCL-1 System in the 2003 NIST Speaker Recognition Evaluation 
                    and 2003 NFI/TNO Forensic Speaker Recognition Evaluation, Proc. of the SPECOM-2006, 25-29 June 2006, pp.109-114. 
                </p>
                <p>
                    [C9].	T. Ganchev, M. Siafarikas and N. Fakotakis: Evaluation of speech parameterization methods for 
                    speaker recognition, Proc. of the Acoustics-2006, Sept 18-19, 2006. pp. 105-110. 
                </p>
                <p>
                    [C10].	T. Ganchev, P. Zervas, N. Fakotakis, G. Kokkinakis: Benchmarking Feature Selection 
                    Techniques on the Speaker Verification Task, Proc. of the CSNDSP-06, 19-21 July, 2006. pp. 314-318.
                </p>
                <p>
                    [C11].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Comparative Evaluation of Various MFCC Implementations on the Speaker 
                    Verification Task, Proc. of the SPECOM-2005, October 17-19, 2005. Patras, Greece. Vol. 1, pp. 191-194. 
                </p>
                <p>
                    [C12].	M. Siafarikas, T. Ganchev, N. Fakotakis, G. Kokkinakis: Overlapping Wavelet Packet Features for Speaker 
                    Verification, Proc. of the InterSpeech-2005, September 4-8, 2005. Lisbon, Portugal, pp. 3121-3124. 
                </p>
                <p>
                    [C13].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Generalized Locally Recurrent Probabilistic Neural 
                    Networks for Text-Independent Speaker Verification, Proc. of the ICASSP-2004, Montreal, Quebec, Canada, May 17-21, 
                    2004, Vol.1, pp. 41-44. 
                </p>
                <p>
                    [C14].	M. Siafarikas, T. Ganchev, N. Fakotakis: Wavelet Packets Based Speaker Verification, Proc. of the ISCA 
                    Speaker and Language Recognition Workshop - Odyssey-2004, Toledo, Spain, May 31-June 3, 2004, pp. 257-264.
                </p>
                <p>
                    [C15].	S. Moller, J. Krebber, A. Raake, P. Smeele, M. Rajman, M. Melichar, V. Pallotta, G. Tsakou, B. Kladis, 
                    A. Vovos, J. Hoonhout, D. Schuchardt, N. Fakotakis, T. Ganchev, I. Potamitis: INSPIRE: Evaluation of a Smart-Home 
                    System for Infotainment Management and Device Control, Proc. of the LREC-2004, Lisbon, May 26-28 2004, pp.1603-1606.
                </p>
                <p>
                    [C16].	M. Siafarikas, T. Ganchev, N. Fakotakis: Objective Wavelet Packet Features for Speaker Verification, 
                    Proc. of the InterSpeech-2004 - ICSLP, Oct 4- 8, Jeju, Korea, 2004, pp. 2365-2368. 
                </p>
                <p>
                    [C17].	T. Ganchev, N. Fakotakis, G. Kokkinakis: The WCL-1 System in the NIST Year 2004 Speaker Recognition 
                    Evaluation, Proc. of the 2004 NIST Speaker Recognition Evaluation Workshop, June 3-4, 2004, Toledo, Spain. 
                </p>
                <p>
                    [C18].	T. Ganchev, M. Siafarikas, N. Fakotakis: Speaker Verification Based on Wavelet Packets, Lecture Notes 
                    in Computer Science, Springer-Verlag, Heidelberg, ISSN: 0302-9743, vol. LNAI 3206/2004, Sept. 2004, pp. 299-306. 
                </p>
                <p>
                    [C19].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Toward 2003 NIST Speaker Recognition Evaluation: 
                    The WCL-1 System, Proc. of the SPECOM-2003, Moscow, Russia, October 27-29, 2003. pp.v256-261. 
                </p>
                <p>
                    [C20].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Locally Recurrent Probabilistic Neural Network for 
                    Text-Independent Speaker Verification, Proc. of the InterSpeech-2003, Geneva, Switzerland, September 1-4, 2003. 
                    Volume III, pp. 1673-1676.
                </p>
                <p>
                    [C21].	T. Ganchev, I. Potamitis, N. Fakotakis: Noise-Source Modelling for Robust Speaker Verification in Adverse 
                    Environments, Proc. of the ISAP-2003, Lemnos, Greece, August 31st - September 3rd, 2003. paper no. ISAP03/137. 
                </p>
                <p>
                    [C22].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Impostor Modelling Techniques for Speaker Verification Based on 
                    Probabilistic Neural Networks, Proc. of the SPPRA-2003, Rhodes, Greece, June 30-July 2, 2003. pp. 185-190. 
                </p>
                <p>
                    [C23].	T. Ganchev, N. Fakotakis, G. Kokkinakis: One-Speaker Detection - Limited Data: The WCL-1 System, 
                    Proc. of the 2003 NIST Speaker Recognition Workshop, College Park, MD, USA, June 24-25, 2003.
                </p>
                <p>
                    [C24].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Text-Independent Speaker Verification: The WCL-1 System, Lecture Notes 
                    in Artificial Intelligence (LNAI), Matousek and Mautner (Eds.), Springer Verlag, vol. LNAI 2807/2003, 
                    September 2003, pp. 263-268.
                </p>
                <p>
                    [C25].	T. Ganchev, N. Fakotakis, G. Kokkinakis: A Speaker Verification System Based On Probabilistic Neural Networks, 
                    Proc. of the 2002 NIST Speaker Recognition Workshop, Vienna, Virginia, USA, May 20-22, 2002. 
                </p>
                <p>
                    [C26].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Text-Independent Speaker Verification Based on Probabilistic Neural Networks, 
                    Proc. of the Acoustics-2002, Sept 30th-Oct 1st, 2002, Patras, Greece. pp. 159-166. 
                </p>
                <p>
                    [C27].	T. Ganchev, A. Tsopanoglou, N. Fakotakis, G. Kokkinakis: Probabilistic Neural Networks Combined with GMMs for Speaker 
                    Recognition over Telephone Channels, Proc. of the DSP-2002, July 1-3, 2002, Santorini, Greece. Volume II, pp. 1081-1084.
                </p>

                <li>Technical reports</li>
                <p>
                    [R1] Ganchev T., Kladis B. “Speaker Recognition Component”, Deliverable 2.3, IST project INSPIRE (Infotainment management with 
                    Speech Interaction via Remote microphones and telephone interfaces, IST-2001-32746). University of Patras, Greece, 2003.
                </p>
                <p>
                    [R2] Ganchev T., Fakotakis N., G. Kokkinakis. “Probabilistic neural networks based speaker verification in forensic scenario”, 
                    Technical Report submitted to the 2003 NFI/TNO Forensic Speaker Recognition Evaluation, The Netherlands.  
                </p>

            </div>
        </div>
    </section>
</body>
</html>