<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>03 - Research on Emotions, Cognitive Load, Health</title>
    
    <script>
        $(function(){
            $('#header').load('header.html');
        });
    </script>

</head>
<body> 
    <div id="header"></div>
    <section id="publications">
        <div class="publications box">
            <div class="t-top">
                <h1 class="section-title">Research on Emotions, Cognitive Load, Health</h1>
            </div>
            <div class="pub-bottom">
                <li>Journal articles</li>
                <p>
                    [J1].	Feradov, F., Mporas, I., Ganchev, T. (2020). Evaluation of features in detection of dislike 
                    responses to audio–visual stimuli from EEG signals. Computers, 9 (2), art. no. 33. DOI: 10.3390/computers9020033, 
                    Available: <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85084117098&doi=10.3390%2fcomputers9020033&partnerID=40&md5=22df05ec158a97455852c23605d714e8">
                        click here</a>   
                </p> 
                <p> [J2].	Markova V., C. Dicheva, F. Feradov, Y. Kalinin, T. Ganchev, (2016). “SLADE –stress level and emotional state assessment database: phase 1”, 
                    Computer science and technologies journal, Technical University of Varna, Varna, Bulgaria, vol.1, pp.60-68, 2016.
                </p> 
                <p> [J3].	F. Feradov, Т. Ganchev (2015). “Ranking of EEG Time-Domain Features on the Negative Emotions Recognition Task”, Annual Journal of Electronics, 
                    ISSN 1314-0078, vol. 9, pp. 26-29. 
                </p>
                <p> [J4].	Feradov F., T. Ganchev (2014). “Detection of Negative Emotional States from Electroencephalographic (EEG) Signals”, Annual Journal of Electronics, 
                    ISSN 1314-0078, Sofia 2014, pp.66-69.
                </p>
                <p>
                    [J5].	S. Ntalampiras, D. Arsić, M. Hofmann, M. Andersson, T. Ganchev (2014). PROMETHEUS: heterogeneous sensor database in support of research on 
                    human behavioral patterns in unrestricted environments, Signal, Image and Video Processing, ISSN: 1863-1703. Oct. 2014, vol.8, no.7, pp.1211–1231, 
                    DOI 10.1007/s11760-012-0346-9, <a href="http://www.springerlink.com/content/7840844077131961/fulltext.pdf">click here</a> 
                    (IF2014=1.430)
                </p>
                <p>
                    [J6].	T. Kostoulas, T. Winkler, T. Ganchev, N. Fakotakis, J. Köhler (2013). “The MoveOn Database: Motorcycle Environment Speech and Noise Database for Command and Control 
                    Applications”, Language Resources and Evaluation Journal, ISSN: 1574-020X, Springer, vol. 47, no. 2, pp. 539-563. (IF2012=0.659) doi:10.1007/s10579-013-9222-7 
                </p>
                <p>
                    [J7].	T. Kostoulas, I. Mporas, O. Kocsis, T. Ganchev, N. Katsaounos, J. J. Santamaria, S. Jimenez-Murcia, F. Fernandez-Aranda, N. Fakotakis (2012). 
                    Affective Speech Interface in Serious Games for Supporting Therapy of Mental Disorders, Expert Systems with Applications, vol.39, no.12, September 2012, 
                    pp. 11072–11079. DOI=10.1016/j.eswa.2012.03.067.
                </p>
                <p>
                    [J8].	F. Fernandez-Aranda, S. Jimenez-Murcia, J.J. Santamaria, K. Gunnard, A. Soto, E. Kalapanidas, R.G. Bults, C. Davarakis , T. Ganchev, R. Granero, D. Konstantas, 
                    T. Kostoulas, T. Lam, M. Lucas, C. Masuet-Aumatell, M.H. Moussa, J. Nielsen, E. Penelo (2012).Video games as a complementary tool in mental disorders: Playmancer a 
                    european multicenter study, Journal of Mental Health, 2012 Informa UK, Ltd., ISSN: 0963-8237, ISSN: 1360-0567, August 2012, 21(4): 364–374. DOI=10.3109/ 09638237.2012.664302.
                </p> 
                <p>
                    [J9].	A. Lazaridis, I. Mporas, T. Ganchev (2012). Phone Duration Modeling of Affective Speech using Support Vector Regression, International Journal of Intelligent 
                    Systems and Applications (IJISA), ISSN: 2074-904X (Print), ISSN: 2074-9058 (Online), vol.4, no.8, 2012. pp.1-9. 
                    <a href="http://www.mecs-press.org/ijisa/v4n8.html">click here</a>
                </p>  
                <p>
                    [J10].	I. Mporas, T. Ganchev, N. Fakotakis: Phonetic Segmentation of Emotional Speech with HMM-based Methods, International Journal of Pattern Recognition and 
                    Artificial Intelligence, ISSN 0218-0014, 2010. 
                </p>    
                <p>
                    [J11].	A. Lazaridis, T. Ganchev, T. Kostoulas, I. Mporas, N. Fakotakis: Phone Duration Modeling: Overview of Techniques and Performance Optimization via 
                    Feature Selection in the context of Emotional Speech, International Journal of Speech Technology, ISSN 1381-2416, vol. 13, no.3, 2010. Springer, pp. 175-188. 
                    doi:10.1007/s10772-010-9077-x 
                </p> 
                <p>
                    [J12].	I. Mporas, O. Kocsis, T. Ganchev, N. Fakotakis: Robust Speech Interaction in Motorcycle Environment, Expert Systems With Applications, ISSN: 0957-4174, 
                    vol. 37, no. 3, March 2010. pp. 1827-1835.
                </p>
                <p> 
                    [J13].	Калинков К., В. Маркова, Т. Ганчев (2018). Извличане на описатели от физиологични сигнали за разпознаване на емоции и стрес, списание Компютърни Науки 
                    и Технологии, Година XVI, Брой 2/2018, ТУ-Варна, стр. 34-41.
                </p>
                
                <li>Edited volumes</li>
                <p>
                    [EV1] (Eds.) V. Markova, T. Ganchev (2020). Proceedings of the International Conference on Biomedical Innovations and Applications, (BIA-2020), Sept. 24-27, 
                    2020, IEEE Digital Library, 2020. 
                </p> 
                <p>
                    [EV2] (Eds.) V. Markova, T. Ganchev (2019). Proceedings of the International Conference on Biomedical Innovations and Applications, (BIA-2019), Nov. 8-9, 2019, 
                    IEEE Digital Library, 2019.
                </p>
                <p>
                    [EV3] (Eds.) V. Markova, T. Ganchev (2017). Proc. of the IEEE Biomedical Data Acquisition and Applications Workshop, Oct. 13-14, 2017, Technical University 
                    of Varna, Bulgaria. ColorPrint 2017.
                </p>
                <p>
                    [EV4] (Eds) T. Ganchev, R. Dimova (2015). Сборник Иновации и Бизнес 2015 ‐ Научен форум "Приложни технологии свързани със здравето", Печатна база ТУ‐Варна, 
                    2015. ISBN 978‐954‐20‐0751‐7
                </p>
                
                <li>Book chapters</li>
                <p>
                    [BC1] Markova V., T. Ganchev (2017). „Technological support to stress level monitoring”, Book Chapter 6 (DOI: 10.1049/PBHE010E_ch6) in Eds: R. Goleva, 
                    I. Ganchev, C. Dobre, N. Garcia, C. Valderrama), ‘Enhanced Living Environments: From Models to Technologies’, ISBN: 978-1-78561-211-4, e-ISBN: 9781785612121, 
                    in The IET Book Series on e-Health Technologies, IET Publisher, November 2017. pp.101-131.
                </p>
                <p>
                    [BC3] S. Jimenez-Murcia, F. Fernandez-Aranda, E. Kalapanidas, D. Konstantas, T. Ganchev, O. Kocsis, T. Lam, J. Santamaria, T. Raguin, C. Breiteneder, H. Kaufmann, 
                    C. Davarakis (2009)  "Playmancer Project: A Serious videogame as an Additional Therapy Tool for Eating and Impulse Control Disorders",   In: Annual Review of 
                    Cybertherapy and Telemedicine 2009: Advanced Technologies in the Behavioral, Social and Neurosciences. Stud Health Technol Inform., Chapter 39, Edited by:Wiederhold, 
                    B. & Riva, G. (Eds.). pp. 163-166 Amsterdam: IOS Press. ISBN:978-1-60750-017-9. 
                </p>

                <li>Conference Proceedings and Lecture Notes</li>
                <p>
                    [C1].	Markova, V.I., Kalinkov, K.B., Ganchev, T.D. (2020). Improved Peak Detection Algorithm for Photoplethysmographic Signals, Proceedings of the 28th National 
                    Conference with International Participation, TELECOM 2020, art. no. 9299546, pp. 10-13. DOI: 10.1109/TELECOM50385.2020.9299546, 
                    Available: <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85099470230&doi=10.1109%2fTELECOM50385.2020.9299546&partnerID=40&md5=43c06f7cb38e8dc4094c156a13ab8732">
                        click here </a>
                </p>
                <p>
                    [C2].	Feradov, F., Ganchev, T. (2020). Identification of Affective Mental Activity Based on Multichannel EEG Signals, Proceedings of the International Conference 
                    on Biomedical Innovations and Applications, BIA 2020, art. no. 9244279, pp. 101-104. DOI: 10.1109/BIA50171.2020.9244279, Available 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85096769425&doi=10.1109%2fBIA50171.2020.9244279&partnerID=40&md5=a4bd7e3f324697f94753fddee3ef9bce">
                        click here</a>
                </p>
                <p>
                    [C3].	Marinova, G., Ganchev, T., Nikolov, N. (2020). Synthesis of Characteristic Descriptors for the Detection of Distress, Proceedings of the International 
                    Conference on Biomedical Innovations and Applications, BIA 2020, art. no. 9244488, pp. 73-76. DOI: 10.1109/BIA50171.2020.9244488, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85096795901&doi=10.1109%2fBIA50171.2020.9244488&partnerID=40&md5=177698c6478b7939c3b049b4c8b57e6c"> 
                        click here </a>
                </p>
                <p>
                    [C4].	Kalinkov, K., Markova, V., Ganchev, T. (2020). Heart Rate Variability calculation methods, Proceedings of the International Conference on Biomedical 
                    Innovations and Applications, BIA 2020, art. no. 9244285, pp. 97-100. DOI: 10.1109/BIA50171.2020.9244285, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85096795834&doi=10.1109%2fBIA50171.2020.9244285&partnerID=40&md5=a6cc3cf90f677d0cd2d475dbe1715907">
                        click here </a> 
                </p>
                <p>
                    [C5].	Ivanov, M., Markova, V., Ganchev, T. (2020). An Overview of Network Architectures and Technology for Wearable Sensor-based Health Monitoring Systems, 
                    Proceedings of the International Conference on Biomedical Innovations and Applications, BIA 2020, art. no. 9244286, pp. 81-84.  DOI: 10.1109/BIA50171.2020.9244286, 
                    Available: <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85096781747&doi=10.1109%2fBIA50171.2020.9244286&partnerID=40&md5=1a54aacdc76ca2d1b9444f9385f4bc39">
                        click here</a> 
                </p>
                <p>
                    [C6].	Feradov, F., Ganchev, T., Markova, V. (2020). Automated Detection of Cognitive Load from Peripheral Physiological Signals based on Hjorth's Parameters, 
                    Proceedings of the International Conference on Biomedical Innovations and Applications, BIA 2020, art. no. 9244287, pp. 85-88. DOI: 
                    10.1109/BIA50171.2020.9244287, Available at: <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85096760327&doi=10.1109%2fBIA50171.2020.9244287&partnerID=40&md5=633f861669c48fe8af4df074753c54f7">
                        click here</a>
                </p>
                <p>
                    [C7].	Markova, V., Ganchev, T., Kalinkov, K. (2019), CLAS: A Database for Cognitive Load, Affect and Stress Recognition, Proceedings of the International Conference on Biomedical 
                    Innovations and Applications, BIA 2019, art. no. 8967457. DOI: 10.1109/BIA48344.2019.8967457, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85079281190&doi=10.1109%2fBIA48344.2019.8967457&partnerID=40&md5=75cc951b2bde008df91514fc88254821">
                        click here</a>
                </p>
                <p>
                    [C8].	Kalinkov, K., Ganchev, T., Markova, V. (2019). Adaptive Feature Selection through Fisher Discriminant Ratio, Proceedings of the International Conference on Biomedical 
                    Innovations and Applications, BIA 2019, art. no. 8967450,  DOI: 10.1109/BIA48344.2019.8967450, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85079274220&doi=10.1109%2fBIA48344.2019.8967450&partnerID=40&md5=234b27a685edb4fdf3b912083ff3f9c4">
                        click here</a> 
                </p>
                <p>
                    [C9].	Pencheva, E., Markova, V., Atanasov, I., Ganchev, T. (2019). An approach to improve reliability of vital signs monitoring, Proceedings of the International 
                    Conference on Biomedical Innovations and Applications, BIA 2019, art. no. 8967467. DOI: 10.1109/BIA48344.2019.8967467, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85079273588&doi=10.1109%2fBIA48344.2019.8967467&partnerID=40&md5=c17350b4334f4974af9995543b59d4f8">
                        click here</a>
                </p>
                <p>
                    [C10].	Bougou, V., Mporas, I., Schirmer, P., Ganchev, T. (2019). Evaluation of EEG connectivity network measures based features in schizophrenia classification, 
                    Proceedings of the International Conference on Biomedical Innovations and Applications, BIA 2019, art. no. 8967453, DOI: 10.1109/BIA48344.2019.8967453, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85079269691&doi=10.1109%2fBIA48344.2019.8967453&partnerID=40&md5=c9693d715b3742d945d33b79d777043c">
                        click here </a>
                </p>
                <p>
                    [C11].	Markova, V.I., Ganchev, T.D. (2019). Technological support for the needs of personalized training, Proceedings of the 29th Annual Conference of the 
                    European Association for Education in Electrical and Information Engineering, EAEEIE 2019 -, art. no. 9000468. DOI: 10.1109/EAEEIE46886.2019.9000468, 
                    Available: <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85081203446&doi=10.1109%2fEAEEIE46886.2019.9000468&partnerID=40&md5=5f86006b9c27caffc811f2ba89909e40">
                        click here</a>
                </p>
                <p>
                    [C12].	Feradov, F.N., Ganchev, T.D. (2019). Spectral Features of EEG Signals for the Automated Recognition of Negative Emotional States, 2019 28th 
                    International Scientific Conference Electronics, ET 2019 - Proceedings, art. no. 8878557, DOI: 10.1109/ET.2019.8878557, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85074941352&doi=10.1109%2fET.2019.8878557&partnerID=40&md5=f822c3cb0d3ae59e9e1c8cf378dab193">
                        click here</a>
                </p>
                <p>
                    [C13].	Kalinkov, K., Markova, V., Ganchev, T. (2019). Front-end Processing of Physiological Signals for the Automated Detection of High-arousal Negative Valence Conditions. 
                    Proceedings of the 10th National Conference with International Participation, ELECTRONICA 2019, art. no. 8825647,  DOI: 10.1109/ELECTRONICA.2019.8825647, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85072819033&doi=10.1109%2fELECTRONICA.2019.8825647&partnerID=40&md5=f601757caf063152a92119a77d7deacc">
                        click here</a>
                </p>
                <p>
                    [C14].	V. Markova, T. Ganchev, K. Kalinkov (2018). “Detection of Negative Emotions and High-Arousal Negative-Valence States on the Move”, Proc. of the RTUWO'18, Riga, 
                    Latvia, Nov. 15 – 16, 2018, pp.61-65.
                </p>
                <p>
                    [C15].	V. Markova, T. Ganchev (2018). „Constrained Attribute Selection for Stress Detection Based on Physiological Signals”, Proc. of the 2018 International Conference 
                    on Sensors, Signal and Image Processing (SSIP2018), Prague, Czech, October 12 – 14, 2018.
                </p>
                <p>
                    [C16].	V. Markova, T. Ganchev (2018). “Three-step Attribute Selection for Stress Detection based on Physiological Signals”, Proc. XXVII International Scientific 
                    Conference Electronics - ET2018, Sozopol, Bulgaria, September 13 – 15, 2018.
                </p>
                <p>
                    [C17].	V. Markova, T. Ganchev (2018). “Automated Recognition of Affect and Stress evoked by Audio-Visual stimuli”, Proc. of the Seventh Balkan conference on lighting 
                    (BALKANLIGHT 2018), Varna, Bulgaria, September 20 – 22, 2018.
                </p>
                <p>
                    [C18].	T. Ganchev, V. Markova, I. Lefterov, Y. Kalinin (2017). “Overall Design of the SLADE Data Acquisition System”, Proc. of the IITI-2017, September 14-16, 2017, Varna, 
                    Bulgaria. in “Advances in Intelligent Systems and Computing”, ISSN: 2194-5357, vol. 680, pp.56-65.
                </p>
                <p>
                    [C19].	F. Feradov, I. Mporas, T. Ganchev (2017). „Evaluation of Cepstral Coefficients as Features in EEG-based Recognition of Emotional States“, Proc. of the IITI-2017, 
                    September 14-16, 2017, Varna, Bulgaria. in “Advances in Intelligent Systems and Computing”, ISSN: 2194-5357, vol. 680, pp 504-511
                </p>
                <p>
                    [C20].	V. Markova, K. Kalinkov, P. Stanev, T. Ganchev (2017). “Automated Stress Level Monitoring in Mobile Setup”. Proc. of the IITI-2017, September 14-16, 2017, Varna, 
                    Bulgaria,  in “Advances in Intelligent Systems and Computing”, ISSN: 2194-5357, vol. 680, pp.323-331.
                </p>
                <p>
                    [C21].	F. Feradov, T. Ganchev (2017). “Ranking of statistical features of negative emotional states from EEG signals”, Proc. of the IEEE Biomedical Data Acquisition and 
                    Applications Workshop, Oct. 13-14, 2017, Technical University of Varna, Bulgaria. pp.20-23
                </p>
                <p>
                    [C22].	Feradov F., Ganchev T. (2016). „Spatio-temporal EEG signal descriptors for recognition of negative emotional states“, International Scientific Conference 
                    Electronics (ET-2016) Sep 12 2016. IEEE eXplore.
                </p>
                <p>
                    [C23].	Feradov F., T. Ganchev, N. Nikolov (2015). “A Study of Short-Time Energy as a Feature in BCI”, 
                    International Scientific Conference UNITECH-2015, 21–22 November 2015, Gabrovo. 
                </p>
                <p>
                    [C24].	Ф. Ферадов, Ж. Жеков, Т. Ганчев (2015). “Оценка на ефективността на статистическите описатели, извлечени от времевата област,  при класификацията на епилептични 
                    пристъпи”, Иновации и Бизнес 2015 ‹‹Приложни технологии свързани със здравето››, Окт. 9-10, ТУ-Варна
                </p>
                <p>
                    [C25].	Н. Дуков, Т. Ганчев, Д. Ковачев (2015). „Изследване на архитектури на изкуствени невронни мрежи за класфикация 
                    на неврологични разстройства и сърдечни заболявания”, 
                    Иновации и Бизнес 2015 ‹‹Приложни технологии свързани със здравето››, Окт. 9-10, ТУ-Варна, pp.148-151.
                </p>
                <p>
                    [C26].	F. Feradov, T. Ganchev, I. Ivanov (2015). Detection of Sleep Disorders Based on 
                    Time-Domain EEG Signal Descriptors. Годишник на ТУ-Варна – 2015, pp.54-58.
                </p>
                <p>
                    [C27].	Feradov F., T. Ganchev (2014). “Detection of Negative Emotions from EEG Signals using Time-Domain 
                    Features”, International Scientific Conference UNITECH-2014, 21–22 November 2014, Gabrovo. 
                </p>
                <p>
                    [C28].	 Feradov F., Ganchev T. (2014). „Evaluation of Electrode Setups for EEG-based Automated Emotion Detector”,  
                    Годишник на ТУ-Варна 2014. 
                </p>
                <p>
                    [C29].	M. Andersson, S. Ntalampiras, T. Ganchev, J. Rydell, A. Ahlberg, N. Fakotakis, “Fusion of acoustic and optical 
                    sensor data for automatic fight detection in urban environments”,  Proc. of the 13th International Conference on 
                    Information Fusion  (FUSION 2010), Edinburgh, UK, July 26-29, 2010. doi:10.1109/icif.2010.5712105
                </p>
                <p>
                    [C30].	T. Kostoulas, T. Ganchev, A. Lazaridis, N. Fakotakis, “Enhancing Emotion Recognition from 
                    Speech through Feature Selection”, Proc. of the TSD 2010, Brno, Czech Republic, September 6-10, 2010. 
                </p>
                <p>
                    [C31].	T. Kostoulas, T. Ganchev, N. Fakotakis, “Affect recognition in real life scenarios”, Proc. of the 3rd 
                    COST 2102 International Training School on Toward Autonomous, Adaptive, and Context-Aware Multimodal Interfaces: 
                    Theoretical and Practical Issues, Caserta, Italy, March 15-19, 2010. A. Esposito et al. (Eds.): COST 2102 Int. 
                    Training School 2010, LNCS 6456, 2011, pp. 429–435.
                </p>
                <p>
                    [C32].	T. Kostoulas, O. Kocsis, T. Ganchev, F. Fernández-Aranda, J. J. Santamaría, S. Jiménez-Murcia, M. Ben 
                    Moussa, N. Magnenat-Thalmann, N. Fakotakis, “The PlayMancer Database: A Multimodal Affect Database in Support 
                    of Research and Development Activities in Serious Game Environment”, Proc. of the Seventh conference on International 
                    Language Resources and Evaluation (LREC'10), May 19-21, Valletta, Malta, Eds. N. Calzolari et al., European Language 
                    Resources Association (ELRA), ISBN: 2-9517408-6-7.  pp. 3011-3015.
                </p>
                <p>
                    [C33].	S. Ntalampiras, T. Ganchev, I. Potamitis, N. Fakotakis, “Heterogeneous Sensor Database in Support of Human 
                    Behaviour Analysis in Unrestricted Environments: The Audio Part”, Proc. of the Seventh conference on International 
                    Language Resources and Evaluation (LREC 2010), May 19-21, Valletta, Malta, Eds. N. Calzolari et al., European Language 
                    Resources Association (ELRA), ISBN: 2-9517408-6-7.  pp. 3006-3010.  
                </p>
                <p>
                    [C34].	S. Ntalampiras, D. Arsić, A. Störmer, T. Ganchev, I. Potamitis, N. Fakotakis, Prometheus Database: A Multimodal 
                    Corpus for Research on Modeling and Interpreting Human Behavior, Proc. of the 16th International Conference on Digital 
                    Signal Processing (DSP 2009), Santorini, Greece. 5-7 July, 2009.
                </p>
                <p>
                    [C35].	Jiménez-Murcia, S, Fernández-Aranda, F., Kalapanidas, E., Konstantas, D., Ganchev, T., Kocsis, O., Lam, T., 
                    Santmaría, JJ., Raguin, T., Breiteneder, C, Kaufmann, H., & Davarakis, C. (2009). Playmancer Project: A Serious videogame 
                    as an Additional Therapy Tool for Eating and Impulse Control Disorders. (Presented at the 14th Annual CyberTherapy & 
                    CyberPsychology Conference, Italy, 2009). In Wiederhold, B. & Riva, G. (Eds.). Annual Review of Cybertherapy and 
                    Telemedicine 2009: Advanced Technologies in the Behavioral, Social and Neurosciences. Amsterdam:  IOS Press. ISBN: 
                    978-1-60750-017-9, Stud Health Technol Inform.,  Chapter 39, pp. 163-166.  
                </p>
                <p>
                    [C36].	O. Kocsis, E. Kalapanidas, F. Fernández-Aranda, T. Lam, T. Ganchev, S. Jiménez-Murcia, T. Raguin, T. Kostoulas, 
                    N. Katsaounos, Serious videogames as therapeutical tool for mental disorders: enhanced human computer interaction 
                    in PlayMancer, 13th International Conference on Information Visualisation IV09 (14, 15 - 17 July 2009), Pompeu Fabra 
                    University (UPF), Barcelona, Spain. Poster & abstract in the Book of abstracts. 
                </p>
                <p>
                    [C37].	A.S. Lopez, J.J. Santamaría Lorenzo, I. Krug, L.F. Gamazo, K. Gunnard, E. Kalapanidas, D. Konstantas, 
                    T. Ganchev, O. Kocsis, T. Lam, T. Raguin, C. Breiteneder, H. Kaufmann, C. Davarakis, F. Fernández-Aranda, S. Jiménez-Murcia, 
                    A Review of Serious Games as Psychological Support in Health, 13th International Conference on Information Visualisation 
                    IV09 (14, 15 - 17 July 2009), Pompeu Fabra University (UPF), Barcelona, Spain. Poster & abstract in the Book of abstracts.
                </p>
                <p>
                    [C38].	T. Kostoulas, I. Mporas, T. Ganchev, N. Fakotakis: The Effect of Emotional Speech on a Smart-Home Application, 
                    Proc of the 21st International Conference on Industrial, Engineering & Other Applications of Applied Intelligent 
                    Systems, IEA-AIE-2008, Wroclaw, Poland, June 18-20, 2008.  
                </p>
                <p>
                    [C39].	S. Ntalampiras, I. Potamitis, T. Ganchev, N. Fakotakis: Audio Database in Support of Potential Threat 
                    and Crisis Situation Management, LREC-2008, Morocco, May 28-30, 2008.
                </p>
                <p>
                    [C40].	T. Winkler, T. Kostoulas, R. Adderley, C. Bonkowski, T. Ganchev, J. Kohler, N. Fakotakis: The 
                    MoveOn Motorcycle Speech Corpus, LREC-2008, Morocco, May 28-30, 2008.
                </p>
                <p>
                    [C41].	T. Kostoulas, T. Ganchev, I. Mporas, N. Fakotakis: A Real-World Emotional Speech Corpus for Modern Greek, 
                    LREC-2008, Morocco, May 28-30, 2008. 
                </p>
                <p>
                    [C42].	E. Kalapanidas, H. Watanabe, C. Davarakis, H. Kaufmann, F.F. Aranda, T. Lam, T. Ganchev and D. Konstantas: 
                    PlayMancer: A European Serious Gaming 3D Environment, Proc. of the 3rd International Conference on Software and Data 
                    Technologies, ICSOFT 2008, July 5-8, Porto, Portugal.
                </p>
                <p>
                    [C43].	J. Ahlberg, D. Arsic, T. Ganchev, A. Linderhed, P. Menezes, S. Ntalampiras, T. Olma, I. Potamitis, J. Ros: 
                    Prometheus: Prediction and interpretation of human behaviour based on probabilistic structures and heterogeneous 
                    sensors, Proc. of the System Demonstrations of the 18th European Conference on Artificial Intelligence, ECAI 2008, 
                    ISBN: 978-960-6843-17-4, July 23-25, 2008, Patras, Greece.
                </p>
                <p>
                    [C44].	T. Kostoulas, T. Ganchev, N. Fakotakis: Study on speaker-independent emotion recognition from speech on 
                    real-world data, COST2102 Workshop, Partas, Greece, Oct.29-31, 2007. Revised papers published in LNAI vol.5042, 
                    (Eds. A. Esposito, N. Bourbakis, N. Avouris, I. Hatzilygeroudis), ISBN 978-3-540-70871-1, Springer, 2008., pp.235-242.
                </p>
                <p>
                    [C45].	T. Kostoulas, T. Ganchev, I. Mporas, N. Fakotakis: Detection of Negative Emotional States in Real-World 
                    Scenario, Proc. of the ICTAI-2007, October 29-31, 2007, Patras, Greece, pp.502-509. 
                </p>
                <p>
                    [C46].	P. Zervas, T. Ganchev, N. Fakotakis: Negative Emotional State Detection from 
                    Speech, Proc. of the CSNDSP-06, 19-21 July, 2006. pp. 310-313. 
                </p>
            </div>
        </div>
    </section>
</body>
</html>