<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>04 - Human-Machine Interaction</title>
    
    <script>
        $(function(){
            $('#header').load('header.html');
        });
    </script>

</head>
<body> 
    <div id="header"></div>
    <section id="publications">
        <div class="publications box">
            <div class="t-top">
                <h1 class="section-title">Human-Machine Interaction</h1>
            </div>
            <div class="pub-bottom">
                <li> Journal articles </li>
                <p> [J1].	S. Ntalampiras, D. Arsić, M. Hofmann, M. Andersson, T. Ganchev (2014). PROMETHEUS: heterogeneous sensor
                    database in support of research on human behavioral patterns in unrestricted environments, Signal, Image and Video 
                    Processing, ISSN: 1863-1703. Oct. 2014, vol.8, no.7, pp.1211–1231, DOI 10.1007/s11760-012-0346-9, 
                    <a href="http://www.springerlink.com/content/7840844077131961/fulltext.pdf"> 
                        click here</a> (IF2014=1.430)
                </p> 
                <p> [J2].	S.M. Potirakis, N.-A. Tatlas, N. Zafeiropoulos, T. Ganchev, M. Rangoussi (2013). “Assessment of military 
                    intercom headsets for maximum voice reproduction level in high noise conditions”, Applied Acoustics, vol. 74, 
                    no. 6, June 2013, pp. 870-881, ISSN 0003-682X, 10.1016/j.apacoust.2012.12.009, 
                    <a href="http://www.sciencedirect.com/science/article/pii/S0003682X12003593">
                        click here</a> (IF2012=1.097)
                </p> 
                <p> [J3].	S.M. Potirakis, T. Ganchev, G. Tuna, N.-A. Tatlas, R. Zogo (2013). “Design Considerations of an Interactive 
                    Robotic Agent for Public Libraries”, Journal of Balkan Libraries Union, ISSN 2148-077X, vol. 1, no. 1, pp. 1-6, 2013. 
                    <a href="http://bkdb.trakya.edu.tr/index.php/bluj/article/view/3/8">
                        click here</a>
                </p>
                <p> [J4].	T. Kostoulas, T. Winkler, T. Ganchev, N. Fakotakis, J. Köhler (2013). “The MoveOn Database: Motorcycle 
                    Environment Speech and Noise Database for Command and Control Applications”, Language Resources and Evaluation 
                    Journal, ISSN: 1574-020X, Springer, vol. 47, no. 2, pp. 539-563. (IF2012=0.659) doi:10.1007/s10579-013-9222-7 
                </p>
                <p>
                    [J5].	T. Kostoulas, I. Mporas, O. Kocsis, T. Ganchev, N. Katsaounos, J. J. Santamaria, S. Jimenez-Murcia, F. 
                    Fernandez-Aranda, N. Fakotakis (2012). Affective Speech Interface in Serious Games for Supporting Therapy of Mental 
                    Disorders, Expert Systems with Applications, vol.39, no.12, September 2012, pp. 11072–11079. DOI=10.1016/j.eswa.2012.03.067.
                </p>
                <p>
                    [J6].	F. Fernandez-Aranda, S. Jimenez-Murcia, J.J. Santamaria, K. Gunnard, A. Soto, E. Kalapanidas, R.G. Bults, C. Davarakis , 
                    T. Ganchev, R. Granero, D. Konstantas, T. Kostoulas, T. Lam, M. Lucas, C. Masuet-Aumatell, M.H. Moussa, J. Nielsen, 
                    E. Penelo (2012).Video games as a complementary tool in mental disorders: Playmancer a european multicenter study, 
                    Journal of Mental Health, 2012 Informa UK, Ltd., ISSN: 0963-8237, ISSN: 1360-0567, August 2012, 21(4): 364–374. 
                    DOI=10.3109/ 09638237.2012.664302.
                </p>
                <p>
                    [J7].	I. Mporas, O. Kocsis, T. Ganchev, N. Fakotakis: Robust Speech Interaction in Motorcycle Environment, 
                    Expert Systems With Applications, ISSN: 0957-4174, vol. 37, no. 3, March 2010. pp. 1827-1835.
                </p> 
                <p>
                    [J8].	E. Kalapanidas, C. Davarakis, F. Fernández-Aranda, S. Jiménez-Murcia, O. Kocsis, T. Ganchev, H. Kaufmann, T. Lam, D. 
                    Konstantas: PlayMancer: Games for Health with Accessibility in Mind, Communications & Strategies, no. 73, March 2009.
                </p>  
                <p>
                    [J9].	T. Giannakopoulos, N.-A. Tatlas, T. Ganchev, I. Potamitis: A Practical, Real-Time Speech-Driven Home Automation Front-end, 
                    IEEE Transactions on Consumer Electronics, ISSN 0098-3063, vol. 51, no. 2, May 2005. pp. 514-523.
                </p>    

                <li> Book chapters</li>
                <p>
                    [BC1] S. Jimenez-Murcia, F. Fernandez-Aranda, E. Kalapanidas, D. Konstantas, T. Ganchev, O. Kocsis, T. Lam, J. Santamaria, T. Raguin, 
                    C. Breiteneder, H. Kaufmann, C. Davarakis (2009)  "Playmancer Project: A Serious videogame as an Additional Therapy Tool 
                    for Eating and Impulse Control Disorders",   In: Annual Review of Cybertherapy and Telemedicine 2009: Advanced Technologies 
                    in the Behavioral, Social and Neurosciences. Stud Health Technol Inform., Chapter 39, Edited by:Wiederhold, B. & Riva, G. 
                    (Eds.). pp. 163-166 Amsterdam: IOS Press. ISBN:978-1-60750-017-9. 
                </p> 

                <li>Conference Proceedings and Lecture Notes</li>
                <p>
                    [C1].	Markova, V.I., Ganchev, T.D. (2019). Technological support for the needs of personalized training, Proceedings of the 29th 
                    Annual Conference of the European Association for Education in Electrical and Information Engineering, EAEEIE 2019 -, art. 
                    no. 9000468. DOI: 10.1109/EAEEIE46886.2019.9000468, Available: 
                    <a href="https://www.scopus.com/inward/record.uri?eid=2-s2.0-85081203446&doi=10.1109%2fEAEEIE46886.2019.9000468&partnerID=40&md5=5f86006b9c27caffc811f2ba89909e40">
                        click here</a>
                </p>
                <p>
                    [C2].	T. Ganchev, V. Markova, I. Lefterov, Y. Kalinin, “Overall Design of the SLADE Data Acquisition System”, Proc. of the IITI-2017, September 14-16, 2017, Varna, 
                    Bulgaria. in “Advances in Intelligent Systems and Computing”, ISSN: 2194-5357, vol. 680, pp.56-65.
                </p>
                <p>
                    [C3].	O. Farhi, V. Valchev, T. Ganchev, V. Vanhecke, I.A. Gorriz, D. Bischof, H. Nikolov, V. Kiriakov (2013). “The TrainWind Project: an 
                    E-Learning Platform for Vocational Training in Wind Energy Technologies”, International Jubilee Conference: 50-th 
                    Anniversary Department ETET, 2013, Varna, Bulgaria.
                </p>
                <p>
                    [C4].	Ν. Κατσαούνος, Ι. Μπόρας, Θ. Κωστούλας, T. Ganchev, Ν. Φακωτάκης (2010). Φωνητική πύλη Πανεπιστημίου Πατρών, ”, Proc. of the 
                    5th National Conference ACOUSTICS 2010, Athens, Greece, October 4-6, 2010.
                </p>
                <p>
                    [C5].	T. Kostoulas, O. Kocsis, T. Ganchev, F. Fernández-Aranda, J. J. Santamaría, S. Jiménez-Murcia, M. Ben Moussa, N. 
                    Magnenat-Thalmann, N. Fakotakis, “The PlayMancer Database: A Multimodal Affect Database in Support of Research and 
                    Development Activities in Serious Game Environment”, Proc. of the Seventh conference on International Language Resources 
                    and Evaluation (LREC'10), May 19-21, Valletta, Malta, Eds. N. Calzolari et al., European Language Resources Association 
                    (ELRA), ISBN: 2-9517408-6-7.  pp. 3011-3015.
                </p>
                <p>
                    [C6].	S. Ntalampiras, T. Ganchev, I. Potamitis, N. Fakotakis, “Heterogeneous Sensor Database in Support of Human Behaviour Analysis in Unrestricted 
                    Environments: The Audio Part”, Proc. of the Seventh conference on International Language Resources and Evaluation 
                    (LREC 2010), May 19-21, Valletta, Malta, Eds. N. Calzolari et al., European Language Resources Association (ELRA), 
                    ISBN: 2-9517408-6-7.  pp. 3006-3010. 
                </p>
                <p>
                    [C7].	S. Ntalampiras, D. Arsić, A. Störmer, T. Ganchev, I. Potamitis, N. Fakotakis, Prometheus Database: A Multimodal Corpus for 
                    Research on Modeling and Interpreting Human Behavior, Proc. of the 16th International Conference on Digital Signal 
                    Processing (DSP 2009), Santorini, Greece. 5-7 July, 2009.
                </p>
                <p>
                    [C8].	I. Mporas, T. Ganchev, O. Kocsis, N. Fakotakis, Performance Evaluation of a Speech Interface for Motorcycle Environment, 5th IFIP 
                    Conference on Artificial Intelligence Applications & Innovations (AIAI 2009), April 23-25, 2009, Proc. published in the 
                    IFIP International Federation for Information Processing, Volume 296; Artificial Intelligence Applications and Innovations 
                    III; Eds. Iliadis, L., Vlahavas, I., Bramer, M.; (Boston: Springer), pp. 259–266.
                </p>
                <p>
                    [C9].	O. Kocsis, T. Ganchev, I. Mporas, G. Papadopoulos, N. Fakotakis: „Multi-modal system architecture for serious gaming”, 
                    Proc. published in the IFIP International Federation for Information Processing, Volume 296; Artificial Intelligence 
                    Applications and Innovations III; Eds. Iliadis, L., Vlahavas, I., Bramer, M.; (Boston: Springer), pp.441-447.
                </p>
                <p>
                    [C10].	 I. Mporas, T. Ganchev, T. Kostoulas, K. Kermanidis, N. Fakotakis, Automatic Speech Recognition System for Home Appliances 
                    Control, Proc of the 13th Panhellenic Conference in Informatics, PCI-2009, Corfu, Greece, September 10-12, 2009, pp.114-117. 
                    doi:10.1109/pci.2009.24 
                </p>
                <p>
                    [C11].	Jiménez-Murcia, S, Fernández-Aranda, F., Kalapanidas, E., Konstantas, D., Ganchev, T., Kocsis, O., Lam, T., Santmaría, 
                    JJ., Raguin, T., Breiteneder, C, Kaufmann, H., & Davarakis, C. (2009). Playmancer Project: A Serious videogame as an 
                    Additional Therapy Tool for Eating and Impulse Control Disorders. (Presented at the 14th Annual CyberTherapy & 
                    CyberPsychology Conference, Italy, 2009). In Wiederhold, B. & Riva, G. (Eds.). Annual Review of Cybertherapy and 
                    Telemedicine 2009: Advanced Technologies in the Behavioral, Social and Neurosciences. Amsterdam:  IOS Press. ISBN: 
                    978-1-60750-017-9, Stud Health Technol Inform.,  Chapter 39, pp. 163-166.   
                </p>
                <p>
                    [C12].	O. Kocsis, E. Kalapanidas, F. Fernández-Aranda, T. Lam, T. Ganchev, S. Jiménez-Murcia, T. Raguin, T. Kostoulas, 
                    N. Katsaounos, Serious videogames as therapeutical tool for mental disorders: enhanced human computer interaction 
                    in PlayMancer, 13th International Conference on Information Visualisation IV09 (14, 15 - 17 July 2009), Pompeu 
                    Fabra University (UPF), Barcelona, Spain. Poster & abstract in the Book of abstracts.
                </p>
                <p>
                    [C13].	A.S. Lopez, J.J. Santamaría Lorenzo, I. Krug, L.F. Gamazo, K. Gunnard, E. Kalapanidas, D. Konstantas, T. Ganchev, 
                    O. Kocsis, T. Lam, T. Raguin, C. Breiteneder, H. Kaufmann, C. Davarakis, F. Fernández-Aranda, S. Jiménez-Murcia, 
                    A Review of Serious Games as Psychological Support in Health, 13th International Conference on Information Visualisation 
                    IV09 (14, 15 - 17 July 2009), Pompeu Fabra University (UPF), Barcelona, Spain. Poster & abstract in the Book of abstracts.
                </p>
                <p>
                    [C14].	A. Conconi, T. Ganchev, O. Kocsis, G. Papadopoulos, F. Fernández-Aranda, S. Jiménez-Murcia: PlayMancer: A Serious 
                    Gaming 3D Environment, Proc of the 4th International Conference on Automated Solutions for Cross Media Content and 
                    Multi-Channel Distribution, AXMEDIS 2008, Florence, Italy, Nov. 17-19, 2008.
                </p>
                <p>
                    [C15].	T. Kostoulas, I. Mporas, T. Ganchev, N. Fakotakis: The Effect of Emotional Speech on a Smart-Home Application, 
                    Proc of the 21st International Conference on Industrial, Engineering & Other Applications of Applied Intelligent 
                    Systems, IEA-AIE-2008, Wroclaw, Poland, June 18-20, 2008.
                </p>
                <p>
                    [C16].	S. Ntalampiras, I. Potamitis, T. Ganchev, N. Fakotakis: Audio Database in Support of Potential Threat and 
                    Crisis Situation Management, LREC-2008, Morocco, May 28-30, 2008.
                </p>
                <p>
                    [C17].	T. Winkler, T. Kostoulas, R. Adderley, C. Bonkowski, T. Ganchev, J. Kohler, N. Fakotakis: 
                    The MoveOn Motorcycle Speech Corpus, LREC-2008, Morocco, May 28-30, 2008.
                </p>
                <p>
                    [C18].	E. Kalapanidas, H. Watanabe, C. Davarakis, H. Kaufmann, F.F. Aranda, T. Lam, T. Ganchev and D. Konstantas: 
                    PlayMancer: A European Serious Gaming 3D Environment, Proc. of the 3rd International Conference on Software and 
                    Data Technologies, ICSOFT 2008, July 5-8, Porto, Portugal.
                </p>
                <p>
                    [C19].	J. Ahlberg, D. Arsic, T. Ganchev, A. Linderhed, P. Menezes, S. Ntalampiras, T. Olma, I. Potamitis, J. 
                    Ros: Prometheus: Prediction and interpretation of human behaviour based on probabilistic structures and heterogeneous 
                    sensors, Proc. of the System Demonstrations of the 18th European Conference on Artificial Intelligence, ECAI 2008, ISBN: 
                    978-960-6843-17-4, July 23-25, 2008, Patras, Greece.
                </p>
                <p>
                    [C20].	E. Kalapanidas, C. Davarakis, M. Nani, T. Winkler, T. Ganchev, O. Kocsis, N. Fakotakis, A. Handzlik, G. Swiecanski, 
                    A. Badii, A. Khan, R. Adderley, F. Cappadona, D. Pirez: MoveON: A Multimodal Information Management Application for 
                    Police Motorcyclists, Proc. of the System Demonstrations of the 18th European Conference on Artificial Intelligence, 
                    ECAI 2008, ISBN: 978-960-6843-17-4, July 23-25, 2008, Patras, Greece.
                </p>
                <p>
                    [C21].	T. Ganchev, O. Kocsis, D. Lyras, N. Katsaounos, I. Mporas, A. Lazaridis, T. Kostoulas, S. Ntalampiras, 
                    M. Siafarikas, G. Papadopoulos, K. Sgarbas, N. Fakotakis: Natural Spoken Dialogue Interaction: Technology, Tools, 
                    Resources and Applications, Proc. of the System Demonstrations of the 18th European Conference on Artificial Intelligence, 
                    ECAI 2008, ISBN: 978-960-6843-17-4, July 23-25, 2008, Patras, Greece.
                </p>
                <p>
                    [C22].	T. Kostoulas, I. Mporas, T. Ganchev, N. Katsaounos, A. Lazaridis, S. Ntalampiras, N. Fakotakis: LOGOS: 
                    A Multimodal Dialogue System for Controlling Smart Appliances, Proc. of the 1st International Symposium on 
                    Intelligent Interactive Multimedia Systems and Services, KES-IIMSS-2008, Piraeus, Greece, July 9-11, 2008, Piraeus, 
                    Greece, July 9-11, 2008, Studies in Computational Intelligence 142 (G.A. Tsihrintzis, et al Eds.), ISBN 978-3-540-68126-7, 
                    Springer, pp.585-594.
                </p>
                <p>
                    [C23].	A. Lazaridis, T. Kostoulas, I. Mporas, T. Ganchev, N. Katsaounos, S. Ntalampiras, N. Fakotakis, Human Evaluation 
                    of the LOGOS Multimodal Dialogue System, 1st International Conference on PErvasive Technologies Related to Assistive 
                    Environments, PETRA-2008, July 15-19, Athens, Greece.
                </p>
                <p>
                    [C24].	S. Moller, J. Krebber, A. Raake, P. Smeele, M. Rajman, M. Melichar, V. Pallotta, G. Tsakou, B. Kladis, A. Vovos, 
                    J. Hoonhout, D. Schuchardt, N. Fakotakis, T. Ganchev, I. Potamitis: INSPIRE: Evaluation of a Smart-Home System for 
                    Infotainment Management and Device Control, Proc. of the LREC-2004, Lisbon, May 26-28 2004, pp.1603-1606.
                </p>

                <li>Technical reports</li>
                <p>
                    [R1] Winkler T., Ganchev T., Kostoulas T., Mporas I., Lazaridis A., Ntalampiras S., Badii A., Adderley R., Bonkowski C. 
                    “Report on Audio databases, Noise processing environment, ASR and TTS modules”, Deliverable D5, MoveOn project 
                    (Multi-modal and multi-sensor zero-distraction interaction interface for two wheel vehicles ON the move, IST– 2005 
                    – 034753), Fraunhofer, St. Augustin, Germany, 2007.
                </p>
                <p>
                    [R2] Kladis B., Vovos A., Gianakopoulos T., Ganchev T., Schuchardt D., “D5.2: Report on INSPIRE Prototype System”, 
                    Deliverable 5.2, IST project INSPIRE (Infotainment management with Speech Interaction via Remote-microphones and 
                    telephone interfaces, IST-2001-32746), Knowledge S.A., Patras, Greece, September, 2004. 
                </p>
                <p>
                    [R3] Kladis B., Vovos A., Gianakopoulos T., Tatlas N.-A., Ganchev T., Schuchardt D., “D5.1: 
                    Report on system Integration & Optimization”, Deliverable 5.1, IST project INSPIRE (Infotainment management 
                    with Speech Interaction via Remote-microphones and telephone interfaces, IST-2001-32746), Knowledge S.A., 
                    Patras, Greece, March, 2004.
                </p>
                <p>
                    [R4] Boland H., Hoonhout J., Krebber J., Möller S., Schuchardt D., Melichar M., Ganchev T., Kladis B., Smeele P., 
                    “System Usability Evaluation Report”, Deliverable 6.1, IST project INSPIRE (Infotainment management with 
                    Speech Interaction via Remote-microphones and telephone interfaces, IST-2001-32746). The Netherlands 
                    Organisation for Applied Scientific Research (TNO), The Netherlands, July, 2004.
                </p>
                <p>
                    [R5] Smeele P., Krebber J., Möller S., Ganchev T., Vovos A., Kladis B. “System Component Assessment Report”, 
                    Deliverable 6.1, IST project INSPIRE (Infotainment management with Speech Interaction via Remote-microphones and 
                    telephone interfaces, IST-2001-32746). Institut für Kommunikationsakustik, Ruhr-Universität, D-Bochum, Germany, 
                    February, 2004.
                </p>
            </div>
        </div>
    </section>
</body>
</html>