<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>05 - Machine Learning</title>
    
    <script>
        $(function(){
            $('#header').load('header.html');
        });
    </script>

</head>
<body> 
    <div id="header"></div>
    <section id="publications">
        <div class="publications box">
            <div class="t-top">
                <h1 class="section-title">Machine Learning</h1>
            </div>
            <div class="pub-bottom">
                <li> Journals </li>
                <p> [J1].	Dukov, N.T., Ganchev, T.D., Vrahatis, M.N. (2019). Evaluation of PNN pattern-layer activation function 
                    approximations in different training setups, International Journal of Speech TechnologyVolume 22, Issue 4, 1 December 
                    2019, pp. 1039-1049  
                </p> 
                <p> [J2].	Н. Дуков, Т. Ганчев, (2018). Нови невронни модели на ЛРВНМ базирани на RELU активиращи функции, 
                    списание Компютърни Науки и Технологии, ISSN 1312-3335, Година XVI, Брой 1/2018, ТУ-Варна, стр.135-142.
                </p> 
                <p> [J3].	I. Mporas, T. Ganchev, O. Kocsis, N. Fakotakis (2011). Context-adaptive pre-processing scheme for 
                    robust speech recognition in fast-varying noise environment, Signal Processing, 91 (8) 2011, pp. 2101-2111. 
                    DOI: 10.1016/j.sigpro.2011.03.020, 
                </p>
                <p> [J4].	A. Lazaridis, I. Mporas, T. Ganchev, G. Kokkinakis, N. Fakotakis: Improving Phone Duration Modelling Using 
                    Support Vector Regression Fusion, Speech Communication, ISSN 0167-6393, vol. 53, no.1, Jan. 2011, pp. 85-97. 
                </p>
                <p>
                    [J5].	T. Ganchev: Enhanced Training for the Locally Recurrent Probabilistic Neural Networks, International 
                    Journal of Artificial Intelligence Tools, ISSN: 0218-2130, vol. 18, no. 6, 2009. pp. 853-881.
                </p>
                <p>
                    [J6].	R. Saeidi, H. R. Sadegh Mohammadi, T. Ganchev, R. D. Rodman: Particle Swarm Optimization for Sorted Adapted 
                    Gaussian Mixture Models, IEEE Transactions on Audio Speech and Language Processing, IEEE, USA, ISSN: 1558-7916, vol. 
                    17, no. 2, 2009.  pp. 344-353. 
                </p>
                <p>
                    [J7].	I. Mporas, T. Ganchev, N. Fakotakis: Phonetic Segmentation using Multiple Speech Features, International 
                    Journal of Speech Technology, ISSN 1381-2416, vol. 11, no. 2, June 2008, pp. 73-85. doi:10.1007/s10772-009-9038-4 
                </p> 
                <p>
                    [J8].	T. Ganchev, D.K. Tasoulis, M.N. Vrahatis, N. Fakotakis: Generalized Locally Recurrent Probabilistic Neural 
                    Networks with application to Text-Independent Speaker Verification, Neurocomputing, ISSN 0925-2312, vol. 70, no. 
                    7-9, March 2007. pp. 1424-1438. 
                </p>  
                <p>
                    [J9].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Locally Recurrent Probabilistic Neural Networks with 
                    Application to Speaker Verification, GESTS International Transaction on Speech Science and Engineering, ISSN 1738-4737, 
                    vol. 1, no. 2, December 2004. pp. 1-13.
                </p>    

                <li> Book chapters</li>
                <p>
                    [BC4] Ganchev T.: Locally Recurrent Neural Networks and Their Applications, Chapter IX in Handbook of Research on 
                    Machine Learning Applications and Trends: Algorithms, Methods and Techniques, ISBN 978-1-60566-766-9, (Eds: E. Soria, 
                    J.D. Martin, R. Magdalena, M. Martinez, and A.J. Serrano.), IGI Global, August 2009, pp.195-222.
                </p> 
                <p>
                    [BC5] Ganchev T., Parsopoulos K.E., Vrahatis M.N., Fakotakis N.: Partially Connected Locally Recurrent Probabilistic 
                    Neural Networks, Chapter 18 in Recurrent Neural Networks, ISBN 978-3-902613-28-8, September 2008, (Eds: X.-L. Hu and P. 
                    Balasubramaniam), InTech, Vienna, Austria, pp.377-400. 
                </p>

                <li>Conference Proceedings and Lecture Notes</li>
                <p>
                    [C1].	N. Dukov, T. Ganchev, D. Kovachev (2017). „FPGA implementation of the Locally Recurrent Probabilistic Neural 
                    Network“. Proc. of the IITI-2017, September 14-16, 2017, Varna, Bulgaria. ,  in “Advances in Intelligent Systems and 
                    Computing”, ISSN: 2194-5357, vol. 680, pp 419-428.
                </p>
                <p>
                    [C2].	N. Dukov, T. Ganchev (2017). “Empirical study on ReLU based neuron models of the LRPNN”, Proc. of the IEEE 
                    Biomedical Data Acquisition and Applications Workshop, Oct. 13-14, 2017, Technical University of Varna, Bulgaria. 
                    pp.24-27
                </p>
                <p>
                    [C3].	Dukov N., T. Ganchev, D. Kovachev, M. Vrahatis (2015). “Population Size Trade-offs in DE and PSO-based 
                    Methods for PNN Training”, International Scientific Conference, UNITECH-2015, 21–22 November 2015, Gabrovo.
                </p>
                <p>
                    [C4].	Н. Дуков, Т. Ганчев, Д. Ковачев (2015). „Изследване на архитектури на изкуствени невронни мрежи за 
                    класфикация на неврологични разстройства и сърдечни заболявания”, Иновации и Бизнес 2015 ‹‹Приложни технологии 
                    свързани със здравето››, Окт. 9-10, ТУ-Варна, pp.148-151.
                </p>
                <p>
                    [C5].	 N. Dukov, T. Ganchev, D. Kovachev (2015). Reduced-complexity FPGA-implementation of PNN for classification 
                    of binary images. Годишник на ТУ-Варна – 2015, pp.59-63.
                </p>
                <p>
                    [C6].	Dukov N., T. Ganchev, D. Kovachev (2014). “FPGA Implementation of Probabilistic Neural Network with the 
                    Altera Cyclone Family”, International Scientific Conference UNITECH-2014, 21–22 November 2014, Gabrovo. 
                </p>
                <p>
                    [C7].	Dukov N., Ganchev T., Kovachev D. (2014). “Empirical Study оf PNN Sensitivity to the Exponential 
                    Function Approximation in FPGA Implementations”, Годишник на ТУ-Варна 2014. 
                </p>
                <p>
                    [C8].	A. Lazaridis, I. Mporas, T. Ganchev, N. Fakotakis, “Support Vector Regression Fusion Scheme in Phone 
                    Duration Modeling”, Proc. of the ICASSP-2011, Prague, Check Republic, pp. 4732-4735. doi:10.1109/icassp.2011.5947412 
                </p>
                <p>
                    [C9].	M. Andersson, S. Ntalampiras, T. Ganchev, J. Rydell, A. Ahlberg, N. Fakotakis, “Fusion of acoustic and optical 
                    sensor data for automatic fight detection in urban environments”,  Proc. of the 13th International Conference on Information 
                    Fusion  (FUSION 2010), Edinburgh, UK, July 26-29, 2010. doi:10.1109/icif.2010.5712105
                </p>
                <p>
                    [C10].	I. Mporas, T. Ganchev, N. Fakotakis: A Hybrid Architecture for Automatic Segmentation of Speech Waveforms, Proc. of the 
                    ICASSP-2008, Las Vegas, USA, March 30 - April 4, 2008, pp.4457-4460. doi:10.1109/icassp.2008.4518645
                </p>
                <p>
                    [C11].	R. Saeidi, H.R. Sadegh Mohammadi, T. Ganchev, R.D. Rodman: Hierarchical mixture clustering and its application to 
                    GMM based text independent speaker identification, Proc. of the International Symposium on Telecommunications, IST2008, 
                    Teheran, Iran, Aug. 27-28, 2008, pp.770-773.   
                </p>
                <p>
                    [C12].	R. Saeidi, H.S. Mohammadi, T. Ganchev, R.D. Rodman: Effects of Feature Domain Normalizations on Text-Independent 
                    Speaker Verification Using Sorted Adapted Gaussian Mixture Models, 13th International CSI Computer 
                    Conference, CSICC-2008, Kish Island, Iran, March 9-11, 2008.
                </p>
                <p>
                    [C13].	R. Saeidi, T. Ganchev, H.S. Mohammadi: Text independent speaker verification using enhanced sorted Gaussian mixture 
                    model, Proc. of the 2007 IEEE International Conference on Signal Processing and Communication (ICSPC-07), Dubai, United 
                    Arab Emirates (UAE), November 24-27, 2007.
                </p>
                <p>
                    [C14].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Generalized Locally Recurrent Probabilistic Neural Networks 
                    for Text-Independent Speaker Verification, Proc. of the ICASSP-2004, Montreal, Quebec, Canada, May 17-21, 2004, Vol.1, 
                    pp. 41-44. 
                </p>
                <p>
                    [C15].	M. Maragoudakis, T. Ganchev, N. Fakotakis: Bayesian Reinforcement for a Probabilistic Neural Net Part-Of-Speech Tagger, 
                    Lecture Notes in Computer Science, Springer-Verlag, Heidelberg, ISSN: 0302-9743, vol. LNAI 3206/2004, Sept. 2004, pp. 137-145. 
                </p>
                <p>
                    [C16].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Locally Recurrent Probabilistic Neural Network for Text-Independent 
                    Speaker Verification, Proc. of the InterSpeech-2003, Geneva, Switzerland, September 1-4, 2003. Volume III, pp. 1673-1676.
                </p>
            </div>
        </div>
    </section>
</body>
</html>