<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>07 - Speech Technology</title>
    
    <script>
        $(function(){
            $('#header').load('header.html');
        });
    </script>

</head>
<body> 
    <div id="header"></div>
    <section id="publications">
        <div class="publications box">
            <div class="t-top">
                <h1 class="section-title">Speech Technology</h1>
            </div>
            <div class="pub-bottom">
                <li> Books </li>
                <p> 
                    [B1]. Ganchev T. (2011) <a href="https://www.springer.com/gp/book/9781441984463"> Contemporary methods for speech parameterization. </a> First Edition. 
                    Springer New York, 2011. ISBN: 978-1-4419-8446-3, e-ISBN: 978-1-4419-8447-0. DOI: 10.1007/978-1-4419-8447-0. 
                </p>
                
                <li>Journal articles</li>
                <p> 
                    [J1].	T. Ganchev, M. Siafarikas, I. Mporas, Ts. Stoyanova (2014). “Wavelet basis selection for enhanced speech parametrization in speaker verification”, 
                    International Journal of Speech Technology, ISSN: 1381-2416, vol. 17, no. 2014, pp. 27-36. DOI: 10.1007/s10772-013-9202-8. 
                </p> 
                <p> 
                    [J2].	Paunov P., T. Ganchev (2014). “Low-complexity method for height estimation from speech”, 
                    Списание „Акустика“, ISSN 1312-4897, СЕЕС– София, България, брой 16, Дек. 2014, стр.121-124.
                </p>
                <p> 
                    [J3].	S. Ntalampiras, D. Arsić, M. Hofmann, M. Andersson, T. Ganchev (2014). PROMETHEUS: heterogeneous sensor database 
                    in support of research on human behavioral patterns in unrestricted environments, Signal, Image and Video Processing, 
                    ISSN: 1863-1703. Oct. 2014, vol.8, no.7, pp.1211–1231, DOI 10.1007/s11760-012-0346-9, 
                    <a href="http://www.springerlink.com/content/7840844077131961/fulltext.pdf">click here</a> (IF2014=1.430)
                </p>
                <p>
                    [J4].	S.M. Potirakis, N.-A. Tatlas, N. Zafeiropoulos, T. Ganchev, M. Rangoussi (2013). 
                    “Assessment of military intercom headsets for maximum voice reproduction level in high noise conditions”, 
                    Applied Acoustics, vol. 74, no. 6, June 2013, pp. 870-881, ISSN 0003-682X, 10.1016/j.apacoust.2012.12.009, 
                    <a href="http://www.sciencedirect.com/science/article/pii/S0003682X12003593">click here </a> (IF2012=1.097)
                </p>
                <p>
                    [J5].	S.M. Potirakis, T. Ganchev, G. Tuna, N.-A. Tatlas, R. Zogo (2013). “Design Considerations 
                    of an Interactive Robotic Agent for Public Libraries”, Journal of Balkan Libraries Union, ISSN 2148-077X,
                     vol. 1, no. 1, pp. 1-6, 2013. <a href="http://bkdb.trakya.edu.tr/index.php/bluj/article/view/3/8">click here</a>
                </p>
                <p>
                    [J6].	T. Kostoulas, T. Winkler, T. Ganchev, N. Fakotakis, J. Köhler (2013). “The MoveOn Database: Motorcycle 
                    Environment Speech and Noise Database for Command and Control Applications”, Language Resources and Evaluation 
                    Journal, ISSN: 1574-020X, Springer, vol. 47, no. 2, pp. 539-563. (IF2012=0.659) doi:10.1007/s10579-013-9222-7 
                </p>
                <p>
                    [J7].	T. Kostoulas, I. Mporas, O. Kocsis, T. Ganchev, N. Katsaounos, J. J. Santamaria, S. Jimenez-Murcia, 
                    F. Fernandez-Aranda, N. Fakotakis (2012). Affective Speech Interface in Serious Games for Supporting Therapy 
                    of Mental Disorders, Expert Systems with Applications, vol.39, no.12, September 2012, pp. 11072–11079. 
                    DOI=10.1016/j.eswa.2012.03.067.
                </p>
                <p>
                    [J8].	A. Lazaridis, T. Ganchev, I.Mporas, E. Dermatas, N. Fakotakis, (2012). Two-stage phone 
                    duration modelling with feature construction and feature vector extension for the needs of speech 
                    synthesis, Computer Speech & Language, ISSN 0885-2308, vol. 26, no. 4, August 2012, pp. 274-292, 
                    DOI=10.1016/j.csl.2012.01.009.
                </p> 
                <p>
                    [J9].	A. Lazaridis, I. Mporas, T. Ganchev (2012). Phone Duration Modeling of Affective Speech 
                    using Support Vector Regression, International Journal of Intelligent Systems and Applications (IJISA), 
                    ISSN: 2074-904X (Print), ISSN: 2074-9058 (Online), vol.4, no.8, 2012. pp.1-9. 
                    <a href="http://www.mecs-press.org/ijisa/v4n8.html"> click here </a>
                </p>
                <p>
                    [J10].	I. Mporas, T. Ganchev, O. Kocsis, N. Fakotakis (2011). <a href="https://www.sciencedirect.com/science/article/abs/pii/S0165168411000958">
                     Context-adaptive pre-processing scheme 
                    for robust speech recognition in fast-varying noise environment </a>, Signal Processing, 91 (8) 2011, pp. 2101-2111. 
                    DOI: 10.1016/j.sigpro.2011.03.020. 
                </p>
                <p>
                    [J11].	A. Lazaridis, I. Mporas, T. Ganchev, G. Kokkinakis, N. Fakotakis: Improving Phone Duration Modelling 
                    Using Support Vector Regression Fusion, Speech Communication, ISSN 0167-6393, vol. 53, no.1, Jan. 2011, pp. 85-97. 
                </p>
                <p>
                    [J12].	I. Mporas, T. Ganchev, N. Fakotakis: Phonetic Segmentation of Emotional Speech with HMM-based Methods, 
                    International Journal of Pattern Recognition and Artificial Intelligence, ISSN 0218-0014, 2010. 
                </p>
                <p>
                    [J13].	A. Lazaridis, T. Ganchev, T. Kostoulas, I. Mporas, N. Fakotakis: Phone Duration Modeling: Overview of 
                    Techniques and Performance Optimization via Feature Selection in the context of Emotional Speech, International Journal 
                    of Speech Technology, ISSN 1381-2416, vol. 13, no.3, 2010. Springer, pp. 175-188. doi:10.1007/s10772-010-9077-x 
                </p>
                <p>
                    [J14].	I. Mporas, T. Ganchev, O. Kocsis, N. Fakotakis: Speech Enhancement for Robust Speech Recognition in Motorcycle 
                    Environment, International Journal on AI Tools (IJAIT), Special issue on “Artificial Intelligence Techniques for Pervasive 
                    Computing”, vol. 19, no. 2, 2010, pp. 159-173. doi:10.1142/s0218213010000091 
                </p>
                <p>
                    [J15].	I. Mporas, T. Ganchev, N. Fakotakis: Speech Segmentation using Regression Fusion of Boundary Predictions, 
                    Computer Speech & Language, ISSN: 0885-2308, vol. 24, no. 2, 2010. Elsevier, pp. 273-288. 
                </p>
                <p>
                    [J16].	I. Mporas, O. Kocsis, T. Ganchev, N. Fakotakis: Robust Speech Interaction in Motorcycle Environment, Expert 
                    Systems With Applications, ISSN: 0957-4174, vol. 37, no. 3, March 2010. pp. 1827-1835.
                </p>
                <p>
                    [J17].	I. Mporas, T. Ganchev: Estimation of Unknown Speaker’s Height from Speech, International Journal of 
                    Speech Technology, ISSN 1381-2416, vol. 12, no. 4, 2009, pp.149-160.
                </p>
                <p>
                    [J18].	T. Ganchev: Enhanced Training for the Locally Recurrent Probabilistic Neural Networks, International 
                    Journal of Artificial Intelligence Tools, ISSN: 0218-2130, vol. 18, no. 6, 2009. pp. 853-881.
                </p>
                <p>
                    [J19].	R. Saeidi, H. R. Sadegh Mohammadi, T. Ganchev, R. D. Rodman: Particle Swarm Optimization for Sorted Adapted 
                    Gaussian Mixture Models, IEEE Transactions on Audio Speech and Language Processing, IEEE, USA, ISSN: 1558-7916, vol. 
                    17, no. 2, 2009.  pp. 344-353. 
                </p>
                <p>
                    [J20].	E. Kalapanidas, C. Davarakis, F. Fernández-Aranda, S. Jiménez-Murcia, O. Kocsis, T. Ganchev, H. Kaufmann, 
                    T. Lam, D. Konstantas: <a href="https://www.ims.tuwien.ac.at/publications/tuw-176089"> PlayMancer: Games for Health with Accessibility in Mind</a>, Communications & Strategies, no. 
                    73, March 2009.
                </p>
                <p>
                    [J21].	I. Mporas, T. Ganchev, N. Fakotakis: Phonetic Segmentation using Multiple Speech Features, International 
                    Journal of Speech Technology, ISSN 1381-2416, vol. 11, no. 2, June 2008, pp. 73-85. doi:10.1007/s10772-009-9038-4 
                </p>
                <p>
                    [J22].	M. Siafarikas, I. Mporas, T. Ganchev, N. Fakotakis: Speech Recognition Using Wavelet Packet Features, 
                    Journal of Wavelet Theory and Applications, ISSN 0973-6336, vol. 2,  no. 1, 2008. pp. 41-59.
                </p>
                <p>
                    [J23].	M. Siafarikas, T. Ganchev, N. Fakotakis, G. Kokkinakis: Wavelet Packet Approximation of Critical Bands 
                    for Speaker Verification. International Journal of Speech Technology, ISSN 1381-2416, vol. 10, no. 4, 2007. pp. 197-218.
                </p>
                <p>
                    [J24].	T. Ganchev, D.K. Tasoulis, M.N. Vrahatis, N. Fakotakis: Generalized Locally Recurrent Probabilistic Neural 
                    Networks with application to Text-Independent Speaker Verification, Neurocomputing, ISSN 0925-2312, vol. 70, no. 7-9, 
                    March 2007. pp. 1424-1438. 
                </p>
                <p>
                    [J25].	I. Mporas, T. Ganchev, M. Siafarikas, N. Fakotakis: Comparison of Speech Features on the Speech Recognition 
                    Task, Journal of Computer Science, ISSN 1549-3636, vol. 3, no. 8, 2007. pp. 608-616.
                </p>
                <p>
                    [J26].	T. Giannakopoulos, N.-A. Tatlas, T. Ganchev, I. Potamitis: A Practical, Real-Time Speech-Driven Home Automation 
                    Front-end, IEEE Transactions on Consumer Electronics, ISSN 0098-3063, vol. 51, no. 2, May 2005. pp. 514-523.
                </p>
                <p>
                    [J27].	T. Ganchev, I. Potamitis, N. Fakotakis, G. Kokkinakis: Text-Independent Speaker Verification for Real Fast-Varying Noisy 
                    Environments, International Journal of Speech Technology, ISSN 1381-2416, vol. 7, no.4, October 2004. pp. 281-292.
                </p>
                <p>
                    [J28].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Locally Recurrent Probabilistic Neural Networks with Application to 
                    Speaker Verification, GESTS International Transaction on Speech Science and Engineering, ISSN 1738-4737, vol. 1, no. 2, 
                    December 2004. pp. 1-13.
                </p>
                <p>
                    [J29].	M. Siafarikas, T. Ganchev, N. Fakotakis: Speaker Verification Reinforced by Objective Wavelet Packets-based Speech 
                    Parameterization, GESTS International Transaction on Speech Science and Engineering, ISSN 1738-4737, vol. 1, no. 2, 
                    December 2004. pp. 60-71.
                </p>
                <p>
                    [J30].	T. Ganchev, I. Potamitis, N. Fakotakis, G. Kokkinakis: A Model Based Approach for Robust Text-Independent Speaker Verification 
                    in Adverse Environments, Signal Processing and Pattern Recognition, AMSE Periodicals, vol. 47, no. 3, 2004. pp. 47-66. 
                </p>

                <li>Book chapters</li>
                <p>
                    [BC4] Ganchev T.: <a href="https://www.igi-global.com/book/handbook-research-machine-learning-applications/486">Locally Recurrent Neural Networks and Their Applications</a>,
                     Chapter IX in Handbook of Research on Machine Learning 
                    Applications and Trends: Algorithms, Methods and Techniques, ISBN 978-1-60566-766-9, (Eds: E. Soria, J.D. Martin, R. Magdalena, M. Martinez, and A.J. Serrano.), IGI Global, August 2009, pp.195-222.
                </p>
                <p>
                    [BC5] Ganchev T., Parsopoulos K.E., Vrahatis M.N., Fakotakis N.: <a href="https://www.intechopen.com/"> 
                    Partially Connected Locally Recurrent Probabilistic Neural Networks</a>, Chapter 18 in Recurrent Neural Networks, 
                    ISBN 978-3-902613-28-8, September 2008, (Eds: X.-L. Hu and P. Balasubramaniam), InTech, Vienna, Austria, pp.377-400. 
                </p>
                <p>
                    [BC6] Potamitis I., Ganchev T.: Generalized Recognition of Sound Events: Approaches and Applications, Chapter 3 in Multimedia Services in Intelligent Environments, 
                    Studies in Computational Intelligence (SCI) 120, ISBN 978-3-540-78491-3, (Eds: G.A. Tsihrintzis and L.C. Jain.), Springer-Verlag Berlin Heidelberg, 2008, pp.41–79.
                </p>

                <li>Conference Proceedings and Lecture Notes</li>
                <p>
                    [C1].	I. Mporas, T. Ganchev, O. Kocsis, N. Fakotakis, “Dynamic Selection of a Speech Enhancement Method for Robust Speech Recognition in Moving Motorcycle Environment”, 
                    Proc. of the ICASSP-2011, Prague, Check Republic, pp. 5176-5179.
                </p>
                <p>
                    [C2].	A. Lazaridis, I. Mporas, T. Ganchev, N. Fakotakis, “Support Vector Regression Fusion Scheme in Phone Duration Modeling”, 
                    Proc. of the ICASSP-2011, Prague, Check Republic, pp. 4732-4735. doi:10.1109/icassp.2011.5947412 
                </p>
                <p>
                    [C3].	T. Ganchev, I. Mporas, N. Fakotakis, “Automatic Height Estimation from Speech in Real-World Setup”, Proc. of the 2010 
                    European Signal Processing Conference (EUSIPCO 2010), Aalborg, Danmark, August 23-27, 2010. pp. 800-804.
                </p>
                <p>
                    [C4].	T. Theodorou, T. Ganchev, N. Fakotakis, “Sound Source Enumeration in Real-World Setup”, Proc. of the 5th National 
                    Conference ACOUSTICS 2010, Athens, Greece, October 4-6, 2010.
                </p>
                <p>
                    [C5].	M. Andersson, S. Ntalampiras, T. Ganchev, J. Rydell, A. Ahlberg, N. Fakotakis, “Fusion of acoustic and optical sensor 
                    data for automatic fight detection in urban environments”,  Proc. of the 13th International Conference on Information Fusion  
                    (FUSION 2010), Edinburgh, UK, July 26-29, 2010. doi:10.1109/icif.2010.5712105
                </p>
                <p>
                    [C6].	T. Kostoulas, T. Ganchev, A. Lazaridis, N. Fakotakis, “Enhancing Emotion Recognition from Speech through Feature 
                    Selection”, Proc. of the TSD 2010, Brno, Czech Republic, September 6-10, 2010.  
                </p>
                <p>
                    [C7].	T. Kostoulas, T. Ganchev, N. Fakotakis, “Affect recognition in real life scenarios”, Proc. of the 3rd COST 2102 
                    International Training School on Toward Autonomous, Adaptive, and Context-Aware Multimodal Interfaces: Theoretical and 
                    Practical Issues, Caserta, Italy, March 15-19, 2010. A. Esposito et al. (Eds.): COST 2102 Int. Training School 2010, 
                    LNCS 6456, 2011, pp. 429–435.
                </p>
                <p>
                    [C8].	T. Ganchev, I. Mporas, N. Fakotakis, “Audio Features Selection for Automatic Height Estimation from Speech”, S. 
                    Konstantopoulos et al. (Eds.): Advances in Artificial Intelligence: Theories, Models, and Applications, Proceedings of 
                    the 6th Hellenic Conference on AI, SETN 2010, Athens, Greece, May 4-7, 2010, LNAI 6040/2010.  Springer-Verlag Berlin 
                    Heidelberg 2010, pp. 81–90.
                </p>
                <p>
                    [C9].	A. Lazaridis, T. Ganchev, I. Mporas, T. Kostoulas, N. Fakotakis, “Feature Selection for Improved Phone Duration 
                    Modeling of Greek Emotional Speech”, S. Konstantopoulos et al. (Eds.): Advances in Artificial Intelligence: Theories, 
                    Models, and Applications, Proceedings of the 6th Hellenic Conference on AI, SETN 2010, Athens, Greece, May 4-7, 2010, 
                    LNAI 6040.  Springer-Verlag Berlin Heidelberg 2010, pp. 357–362.
                </p>
                <p>
                    [C10].	Ν. Κατσαούνος, Ι. Μπόρας, Θ. Κωστούλας, T. Ganchev, Ν. Φακωτάκης (2010). Φωνητική πύλη Πανεπιστημίου Πατρών, ”, 
                    Proc. of the 5th National Conference ACOUSTICS 2010, Athens, Greece, October 4-6, 2010.
                </p>
                <p>
                    [C11].	A. Lazaridis, T. Kostoulas, T. Ganchev, I. Mporas, N. Fakotakis, “Vergina: A Modern Greek Speech Database for 
                    Speech Synthesis”, Proc. of the Seventh conference on International Language Resources and Evaluation (LREC'10), May 19-21, 
                    Valletta, Malta, Eds. N. Calzolari et al., European Language Resources Association (ELRA), ISBN: 2-9517408-6-7.  pp. 117-121.
                </p>
                <p>
                    [C12].	T. Kostoulas, O. Kocsis, T. Ganchev, F. Fernández-Aranda, J. J. Santamaría, S. Jiménez-Murcia, M. Ben Moussa, N. 
                    Magnenat-Thalmann, N. Fakotakis, “The PlayMancer Database: A Multimodal Affect Database in Support of Research and 
                    Development Activities in Serious Game Environment”, Proc. of the Seventh conference on International Language Resources 
                    and Evaluation (LREC'10), May 19-21, Valletta, Malta, Eds. N. Calzolari et al., European Language Resources Association 
                    (ELRA), ISBN: 2-9517408-6-7.  pp. 3011-3015.
                </p>
                <p>
                    [C13].	S. Ntalampiras, T. Ganchev, I. Potamitis, N. Fakotakis, “Heterogeneous Sensor Database in Support of Human 
                    Behaviour Analysis in Unrestricted Environments: The Audio Part”, Proc. of the Seventh conference on International 
                    Language Resources and Evaluation (LREC 2010), May 19-21, Valletta, Malta, Eds. N. Calzolari et al., European Language 
                    Resources Association (ELRA), ISBN: 2-9517408-6-7.  pp. 3006-3010.   
                </p>
                <p>
                    [C14].	T. Ganchev, A. Lazaridis, I. Mporas, N. Fakotakis, Average Performance Loss Measure for Assessment 
                    of Voice Conversion Systems, Proc. of the 13-th International Conference on Speech and Computer SPECOM'2009, 
                    June 21-25, St. Petersburg, Russia. pp. 275-280.
                </p>
                <p>
                    [C15].	I. Mporas, T. Ganchev, N. Fakotakis, Greek - Cypriot Dialect Recognition based on Phone Recognition 
                    Features, Proc. of the 13-th International Conference on Speech and Computer SPECOM'2009, June 21-25, St. 
                    Petersburg, Russia. pp. 271-274.
                </p>   
                <p>
                    [C16].	I. Mporas, O. Kocsis, T. Ganchev, N. Fakotakis, A Collaborative Speech Enhancement Approach For Speech 
                    Recognition In Motorcycle Environment, Proc. of the 16th International Conference on Digital Signal Processing (DSP 2009), 
                    Santorini, Greece. 5-7 July, 2009. doi:10.1109/icdsp.2009.5201212 
                </p>
                <p>
                    [C17].	S. Ntalampiras, D. Arsić, A. Störmer, T. Ganchev, I. Potamitis, N. Fakotakis, Prometheus Database: A Multimodal 
                    Corpus for Research on Modeling and Interpreting Human Behavior, Proc. of the 16th International Conference on Digital 
                    Signal Processing (DSP 2009), Santorini, Greece. 5-7 July, 2009.
                </p>
                <p>
                    [C18].	I. Mporas, T. Ganchev, O. Kocsis, N. Fakotakis, Performance Evaluation of a Speech Interface for Motorcycle 
                    Environment, 5th IFIP Conference on Artificial Intelligence Applications & Innovations (AIAI 2009), April 23-25, 2009, 
                    Proc. published in the IFIP International Federation for Information Processing, Volume 296; Artificial Intelligence 
                    Applications and Innovations III; Eds. Iliadis, L., Vlahavas, I., Bramer, M.; (Boston: Springer), pp. 259–266.
                </p>
                <p>
                    [C19].	O. Kocsis, T. Ganchev, I. Mporas, G. Papadopoulos, N. Fakotakis: „Multi-modal system architecture for serious 
                    gaming”, Proc. published in the IFIP International Federation for Information Processing, Volume 296; Artificial 
                    Intelligence Applications and Innovations III; Eds. Iliadis, L., Vlahavas, I., Bramer, M.; (Boston: Springer), pp.441-447.
                </p>
                <p>
                    [C20].	I. Mporas, A. Lazaridis, T. Ganchev, N. Fakotakis, Using Hybrid HMM-based Speech Segmentation to Improve 
                    Synthetic Speech Quality, Proc of the 13th Panhellenic Conference in Informatics, PCI-2009, Corfu, Greece, September 10-12, 
                    2009, pp.118-122. doi:10.1109/pci.2009.25
                </p>
                <p>
                    [C21].	 I. Mporas, T. Ganchev, T. Kostoulas, K. Kermanidis, N. Fakotakis, Automatic Speech Recognition System for Home 
                    Appliances Control, Proc of the 13th Panhellenic Conference in Informatics, PCI-2009, Corfu, Greece, September 10-12, 
                    2009, pp.114-117. doi:10.1109/pci.2009.24 
                </p>
                <p>
                    [C22].	O. Kocsis, E. Kalapanidas, F. Fernández-Aranda, T. Lam, T. Ganchev, S. Jiménez-Murcia, T. Raguin, T. Kostoulas, 
                    N. Katsaounos, Serious videogames as therapeutical tool for mental disorders: enhanced human computer interaction in 
                    PlayMancer, 13th International Conference on Information Visualisation IV09 (14, 15 - 17 July 2009), Pompeu Fabra 
                    University (UPF), Barcelona, Spain. Poster & abstract in the Book of abstracts.
                </p>
                <p>
                    [C23].	I. Mporas, T. Ganchev, N. Fakotakis: A Hybrid Architecture for Automatic Segmentation of Speech Waveforms, 
                    Proc. of the ICASSP-2008, Las Vegas, USA, March 30 - April 4, 2008, pp.4457-4460. doi:10.1109/icassp.2008.4518645
                </p>
                <p>
                    [C24].	T. Ganchev, A. Lazaridis, I. Mporas, N. Fakotakis: Performance Evaluation for Voice Conversion Systems, 
                    Proc. of the 11th International Conference, TSD 2008, Brno, Czech Republic, September 8-12, 2008, LNAI 5246, Sojka 
                    et al. (Eds), Springer-Verlag, ISSN 0302-9743, pp.317-324.
                </p>
                <p>
                    [C25].	I. Mporas, T. Ganchev, N. Fakotakis: Phonotactic Recognition of Greek and Cypriot Dialects from 
                    Telephone Speech, Proc. of the SETN 2008, Oct. 2-4 2008, Syros, Greece, pp.173-181.
                </p>
                <p>
                    [C26].	R. Saeidi, H.R. Sadegh Mohammadi, T. Ganchev, R.D. Rodman: Hierarchical mixture clustering and its application 
                    to GMM based text independent speaker identification, Proc. of the International Symposium on Telecommunications, 
                    IST2008, Teheran, Iran, Aug. 27-28, 2008, pp.770-773.
                </p>
                <p>
                    [C27].	T. Kostoulas, I. Mporas, T. Ganchev, N. Fakotakis: The Effect of Emotional Speech on a Smart-Home Application, 
                    Proc of the 21st International Conference on Industrial, Engineering & Other Applications of Applied 
                    Intelligent Systems, IEA-AIE-2008, Wroclaw, Poland, June 18-20, 2008.
                </p>
                <p>
                    [C28].	S. Ntalampiras, I. Potamitis, T. Ganchev, N. Fakotakis: Audio Database in Support of Potential 
                    Threat and Crisis Situation Management, LREC-2008, Morocco, May 28-30, 2008. 
                </p>
                <p>
                    [C29].	T. Winkler, T. Kostoulas, R. Adderley, C. Bonkowski, T. Ganchev, J. Kohler, N. Fakotakis: 
                    The MoveOn Motorcycle Speech Corpus, LREC-2008, Morocco, May 28-30, 2008.
                </p>
                <p>
                    [C30].	T. Kostoulas, T. Ganchev, I. Mporas, N. Fakotakis: A Real-World Emotional Speech Corpus for Modern Greek, 
                    LREC-2008, Morocco, May 28-30, 2008. 
                </p>  
                <p>
                    [C31].	R. Saeidi, H.S. Mohammadi, T. Ganchev, R.D. Rodman: Effects of Feature Domain Normalizations on Text-Independent Speaker Verification Using Sorted Adapted Gaussian Mixture Models, 13th International CSI Computer Conference, CSICC-2008, Kish Island, Iran, March 9-11, 2008.
                </p>
                <p>
                    [C32].	J. Ahlberg, D. Arsic, T. Ganchev, A. Linderhed, P. Menezes, S. Ntalampiras, T. Olma, I. Potamitis, J. Ros: Prometheus: Prediction and interpretation of human behaviour based on probabilistic structures and heterogeneous sensors, Proc. of the System Demonstrations of the 18th European Conference on Artificial Intelligence, ECAI 2008, ISBN: 978-960-6843-17-4, July 23-25, 2008, Patras, Greece.
                </p>
                <p>
                    [C33].	E. Kalapanidas, C. Davarakis, M. Nani, T. Winkler, T. Ganchev, O. Kocsis, N. Fakotakis, A. Handzlik, G. Swiecanski, A. Badii, A. Khan, R. Adderley, F. Cappadona, D. Pirez: MoveON: A Multimodal Information Management Application for Police Motorcyclists, Proc. of the System Demonstrations of the 18th European Conference on Artificial Intelligence, ECAI 2008, ISBN: 978-960-6843-17-4, July 23-25, 2008, Patras, Greece.
                </p>
                <p>
                    [C34].	T. Ganchev, O. Kocsis, D. Lyras, N. Katsaounos, I. Mporas, A. Lazaridis, T. Kostoulas, S. Ntalampiras, M. Siafarikas, G. Papadopoulos, K. Sgarbas, N. Fakotakis: Natural Spoken Dialogue Interaction: Technology, Tools, Resources and Applications, Proc. of the System Demonstrations of the 18th European Conference on Artificial Intelligence, ECAI 2008, ISBN: 978-960-6843-17-4, July 23-25, 2008, Patras, Greece.
                </p>
                <p>
                    [C35].	T. Kostoulas, I. Mporas, T. Ganchev, N. Katsaounos, A. Lazaridis, S. Ntalampiras, N. Fakotakis: LOGOS: A Multimodal Dialogue System for Controlling Smart Appliances, Proc. of the 1st International Symposium on Intelligent Interactive Multimedia Systems and Services, KES-IIMSS-2008, Piraeus, Greece, July 9-11, 2008, Piraeus, Greece, July 9-11, 2008, Studies in Computational Intelligence 142 (G.A. Tsihrintzis, et al Eds.), ISBN 978-3-540-68126-7, Springer, pp.585-594.
                </p>
                <p>
                    [C36].	S. Ntalampiras, T. Ganchev, I. Potamitis, N. Fakotakis, Objective Comparison of Speech Enhancement Algorithms under real world conditions, 1st International Conference on PErvasive Technologies Related to Assistive Environments, PETRA-2008, July 15-19, Athens, Greece.
                </p>
                <p>
                    [C37].	A. Lazaridis, T. Kostoulas, I. Mporas, T. Ganchev, N. Katsaounos, S. Ntalampiras, N. Fakotakis, Human Evaluation of the LOGOS Multimodal Dialogue System, 1st International Conference on PErvasive Technologies Related to Assistive Environments, PETRA-2008, July 15-19, Athens, Greece.
                </p>
                <p>
                    [C38].	T. Kostoulas, T. Ganchev, N. Fakotakis: Study on speaker-independent emotion recognition from speech on real-world data, COST2102 Workshop, Partas, Greece, Oct.29-31, 2007. Revised papers published in LNAI vol.5042, (Eds. A. Esposito, N. Bourbakis, N. Avouris, I. Hatzilygeroudis), ISBN 978-3-540-70871-1, Springer, 2008., pp.235-242.
                </p>
                <p>
                    [C39].	T. Kostoulas, T. Ganchev, I. Mporas, N. Fakotakis: Detection of Negative Emotional States in Real-World Scenario, Proc. of the ICTAI-2007, October 29-31, 2007, Patras, Greece, pp.502-509. 
                </p>
                <p>
                    [C40].	I. Mporas, T. Ganchev, M. Siafarikas, T. Kostoulas: Comparative Evaluation of Speech Parameterizations for Speech Recognition, Proc. of the ICTAI-2007, October 29-31, 2007, Patras, Greece, pp.510-513. 
                </p>
                <p>
                    [C41].	M. Siafarikas, T. Ganchev, N. Fakotakis: Wavelet Packet Bases for Speaker Recognition, Proc. of the ICTAI-2007, October 29-31, 2007, Patras, Greece, pp.514-517. 
                </p>
                <p>
                    [C42].	I. Mporas, T. Ganchev, E. Kotinas, N. Fakotakis: Examining the Influence of Speech Frame Size and Number of Cepstral Coefficients on the Speech Recognition Performance, Proc. of the SPECOM-2007, October 15-18, 2007, Moscow, Russia, pp.134-139. 
                </p>
                <p>
                    [C43].	R. Saeidi, T. Ganchev, H.S. Mohammadi: Text independent speaker verification using enhanced sorted Gaussian mixture model, Proc. of the 2007 IEEE International Conference on Signal Processing and Communication (ICSPC-07), Dubai, United Arab Emirates (UAE), November 24-27, 2007.
                </p>
                <p>
                    [C44].	I. Mporas, T. Ganchev, P. Zervas, N. Fakotakis: Recognition of Greek Phonemes using Support Vector Machines, G. Antoniou et al. (Eds.): SETN-2006, LNAI 3955, © Springer-Verlag Berlin Heidelberg 2006. pp. 290-300. 
                </p>
                <p>
                    [C45].	P. Zervas, T. Ganchev, N. Fakotakis: Negative Emotional State Detection from Speech, Proc. of the CSNDSP-06, 19-21 July, 2006. pp. 310-313. 
                </p>
                <p>
                    [C46].	T. Ganchev, N. Fakotakis, G. Kokkinakis: The WCL-1 System in the 2003 NIST Speaker Recognition Evaluation and 2003 NFI/TNO Forensic Speaker Recognition Evaluation, Proc. of the SPECOM-2006, 25-29 June 2006, pp.109-114. 
                </p>
                <p>
                    [C47].	T. Ganchev, M. Siafarikas and N. Fakotakis: Evaluation of speech parameterization methods for speaker recognition, Proc. of the Acoustics-2006, Sept 18-19, 2006. pp. 105-110. 
                </p>
                <p>
                    [C48].	T. Ganchev, P. Zervas, N. Fakotakis, G. Kokkinakis: Benchmarking Feature Selection Techniques on the Speaker Verification Task, Proc. of the CSNDSP-06, 19-21 July, 2006. pp. 314-318.
                </p>
                <p>
                    [C49].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Comparative Evaluation of Various MFCC Implementations on the Speaker Verification Task, Proc. of the SPECOM-2005, October 17-19, 2005. Patras, Greece. Vol. 1, pp. 191-194. 
                </p>
                <p>
                    [C50].	M. Siafarikas, T. Ganchev, N. Fakotakis, G. Kokkinakis: Overlapping Wavelet Packet Features for Speaker Verification, Proc. of the InterSpeech-2005, September 4-8, 2005. Lisbon, Portugal, pp. 3121-3124. 
                </p>
                <p>
                    [C51].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Generalized Locally Recurrent Probabilistic Neural Networks for Text-Independent Speaker Verification, Proc. of the ICASSP-2004, Montreal, Quebec, Canada, May 17-21, 2004, Vol.1, pp. 41-44. 
                </p>
                <p>
                    [C52].	M. Siafarikas, T. Ganchev, N. Fakotakis: Wavelet Packets Based Speaker Verification, Proc. of the ISCA Speaker and Language Recognition Workshop - Odyssey-2004, Toledo, Spain, May 31-June 3, 2004, pp. 257-264.
                </p>
                <p>
                    [C53].	S. Moller, J. Krebber, A. Raake, P. Smeele, M. Rajman, M. Melichar, V. Pallotta, G. Tsakou, B. Kladis, A. Vovos, J. Hoonhout, D. Schuchardt, N. Fakotakis, T. Ganchev, I. Potamitis: INSPIRE: Evaluation of a Smart-Home System for Infotainment Management and Device Control, Proc. of the LREC-2004, Lisbon, May 26-28 2004, pp.1603-1606.
                </p>
                <p>
                    [C54].	M. Siafarikas, T. Ganchev, N. Fakotakis: Objective Wavelet Packet Features for Speaker Verification, Proc. of the InterSpeech-2004 - ICSLP, Oct 4- 8, Jeju, Korea, 2004, pp. 2365-2368. 
                </p>
                <p>
                    [C55].	T. Ganchev, N. Fakotakis, G. Kokkinakis: The WCL-1 System in the NIST Year 2004 Speaker Recognition Evaluation, Proc. of the 2004 NIST Speaker Recognition Evaluation Workshop, June 3-4, 2004, Toledo, Spain. 
                </p>
                <p>
                    [C56].	M. Maragoudakis, T. Ganchev, N. Fakotakis: Bayesian Reinforcement for a Probabilistic Neural Net Part-Of-Speech Tagger, Lecture Notes in Computer Science, Springer-Verlag, Heidelberg, ISSN: 0302-9743, vol. LNAI 3206/2004, Sept. 2004, pp. 137-145. 
                </p>
                <p>
                    [C57].	T. Ganchev, M. Siafarikas, N. Fakotakis: Speaker Verification Based on Wavelet Packets, Lecture Notes in Computer Science, Springer-Verlag, Heidelberg, ISSN: 0302-9743, vol. LNAI 3206/2004, Sept. 2004, pp. 299-306. 
                </p>
                <p>
                    [C58].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Toward 2003 NIST Speaker Recognition Evaluation: The WCL-1 System, Proc. of the SPECOM-2003, Moscow, Russia, October 27-29, 2003. pp.v256-261. 
                </p>
                <p>
                    [C59].	T. Ganchev, D. Tasoulis, M. Vrahatis, N. Fakotakis: Locally Recurrent Probabilistic Neural Network for Text-Independent Speaker Verification, Proc. of the InterSpeech-2003, Geneva, Switzerland, September 1-4, 2003. Volume III, pp. 1673-1676.
                </p>
                <p>
                    [C60].	T. Ganchev, I. Potamitis, N. Fakotakis: Noise-Source Modelling for Robust Speaker Verification in Adverse Environments, Proc. of the ISAP-2003, Lemnos, Greece, August 31st - September 3rd, 2003. paper no. ISAP03/137. 
                </p>
                <p>
                    [C61].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Impostor Modelling Techniques for Speaker Verification Based on Probabilistic Neural Networks, Proc. of the SPPRA-2003, Rhodes, Greece, June 30-July 2, 2003. pp. 185-190. 
                </p>
                <p>
                    [C62].	T. Ganchev, N. Fakotakis, G. Kokkinakis: One-Speaker Detection - Limited Data: The WCL-1 System, Proc. of the 2003 NIST Speaker Recognition Workshop, College Park, MD, USA, June 24-25, 2003.
                </p>
                <p>
                    [C63].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Text-Independent Speaker Verification: The WCL-1 System, Lecture Notes in Artificial Intelligence (LNAI), Matousek and Mautner (Eds.), Springer Verlag, vol. LNAI 2807/2003, September 2003, pp. 263-268.
                </p>
                <p>
                    [C64].	T. Ganchev, N. Fakotakis, G. Kokkinakis: A Speaker Verification System Based On Probabilistic Neural Networks, Proc. of the 2002 NIST Speaker Recognition Workshop, Vienna, Virginia, USA, May 20-22, 2002.
                </p>
                <p>
                    [C65].	T. Ganchev, N. Fakotakis, G. Kokkinakis: Text-Independent Speaker Verification Based on Probabilistic Neural Networks, Proc. of the Acoustics-2002, Sept 30th-Oct 1st, 2002, Patras, Greece. pp. 159-166. 
                </p>
                <p>
                    [C66].	T. Ganchev, A. Tsopanoglou, N. Fakotakis, G. Kokkinakis: Probabilistic Neural Networks Combined with GMMs for Speaker Recognition over Telephone Channels, Proc. of the DSP-2002, July 1-3, 2002, Santorini, Greece. Volume II, pp. 1081-1084. 
                </p>
                <p>
                    [C67].	T. Ganchev, J. Kolev: Research on Development and Improvement of Low-Bit-Rate Speech Systems, Proc. of the 7th National Applied Science Conference with International Participation “Electronics ET-98”, Sept 23-25, 1998, Sozopol, Bulgaria. (in Bulgarian)
                </p>
                <p>
                    [C68].	J. Kolev, T. Ganchev, Hr. Sverchkova, K. Gribneva: Subjective Tests for Bulgarian Language for Assessing Intelligibility of Low-bit-rate Speech Coders, Anniversary scientific session - 35 years Technical University - Varna, Oct 16-18, 1997, Varna, Bulgaria. (in Bulgarian)
                </p>
                <p>
                    [C69].	J. Kolev, T. Ganchev, D. Nikolov: A Pitch Determination Method, Proc. of the 5th National Applied Science Conference with International Participation “Electronics ET-96”, Sept 28-30, 1996, Sozopol, Bulgaria. (in Bulgarian)
                </p>
                <p>
                    [C70].	J. Kolev, I. Buliev, T. Ganchev: Speech Recognition with Neural Networks, Proc. of the 4th National Applied Science Conference with International Participation “Electronics ET-95”, Sept 28-30, 1995, Sozopol, Bulgaria. (in Bulgarian)
                </p>
                <p>
                    [C71].	J. Kolev, T. Ganchev: Low-Bit-Rate Speech Coding, Proc. of the 4th National Applied Science Conference with International Participation “Electronics ET-95”, Sept 28-30, 1995, Sozopol, Bulgaria. (in Bulgarian)
                </p>
                <p>
                    [C72].	J. Kolev, I. Buliev, T. Gantchev: Investigation on Digital Signal Processing, Proc. of the 40th Internationales Wissenschaftliches Kolloquium, Sept 18-21, 1995, Ilmenau, Germany.
                </p>
                <p>
                    [C73].	J. Kolev, K. Ralev, T. Ganchev, Ts. Lazarova, Investigations on Speech Recognition, Proc. of the 3rd National Applied Science Conference “Electronics ET-94”, Sept 28-30, 1994, Sozopol, Bulgaria. (in Bulgarian)
                </p>
                <p>
                    [C74].	J. Kolev, V. Penchev, T. Ganchev, G. Grigorov, I. Iliev: Research and Development Projects on Digital Signal Processing, Proc. of the 2nd National Applied Science Conference “Electronics ET-93”, Sept 29-Oct 1, 1993, Sozopol, Bulgaria. (in Bulgarian)
                </p>

                <li>Technical Reports</li>
                <p>
                    [R1] Winkler T., Ganchev T., Kostoulas T., Mporas I., Lazaridis A., Ntalampiras S., Badii A., Adderley R., Bonkowski C. “Report on Audio databases, Noise processing environment, ASR and TTS modules”, Deliverable D5, MoveOn project (Multi-modal and multi-sensor zero-distraction interaction interface for two wheel vehicles ON the move, IST– 2005 – 034753), Fraunhofer, St. Augustin, Germany, 2007.
                </p>
                <p>
                    [R2] Kladis B., Vovos A., Gianakopoulos T., Ganchev T., Schuchardt D., “D5.2: Report on INSPIRE Prototype System”, Deliverable 5.2, IST project INSPIRE (Infotainment management with Speech Interaction via Remote-microphones and telephone interfaces, IST-2001-32746), Knowledge S.A., Patras, Greece, September, 2004. 
                </p>
                <p>
                    [R3] Kladis B., Vovos A., Gianakopoulos T., Tatlas N.-A., Ganchev T., Schuchardt D., “D5.1: Report on system Integration & Optimization”, Deliverable 5.1, IST project INSPIRE (Infotainment management with Speech Interaction via Remote-microphones and telephone interfaces, IST-2001-32746), Knowledge S.A., Patras, Greece, March, 2004.
                </p>
                <p>
                    [R4] Boland H., Hoonhout J., Krebber J., Möller S., Schuchardt D., Melichar M., Ganchev T., Kladis B., Smeele P., “System Usability Evaluation Report”, Deliverable 6.1, IST project INSPIRE (Infotainment management with Speech Interaction via Remote-microphones and telephone interfaces, IST-2001-32746). The Netherlands Organisation for Applied Scientific Research (TNO), The Netherlands, July, 2004.
                </p>
                <p>
                    [R5] Smeele P., Krebber J., Möller S., Ganchev T., Vovos A., Kladis B. “System Component Assessment Report”, Deliverable 6.1, IST project INSPIRE (Infotainment management with Speech Interaction via Remote-microphones and telephone interfaces, IST-2001-32746). Institut für Kommunikationsakustik, Ruhr-Universität, D-Bochum, Germany, February, 2004.
                </p>
                <p>
                    [R6] Ganchev T., Kladis B. “Speaker Recognition Component”, Deliverable 2.3, IST project INSPIRE (Infotainment management with Speech Interaction via Remote microphones and telephone interfaces, IST-2001-32746). University of Patras, Greece, 2003.
                </p>
                <p>
                    [R7] Ganchev T., Fakotakis N., G. Kokkinakis. “Probabilistic neural networks based speaker verification in forensic scenario”, Technical Report submitted to the 2003 NFI/TNO Forensic Speaker Recognition Evaluation, The Netherlands.  
                </p>
                <p>
                    [R8] Ganchev T., Nikolov D., “Advanced 2400bps VOCODER-BL for  Bulgarian Language”, Technical Report submitted to the Texas Instruments DSP Solutions Challenge 1997, Technical University of Varna, Dept. of Electronics, Oct 20, 1997. 
                </p>
            </div>
        </div>
    </section>
</body>
</html>