@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif' , sans-serif;
    font-size:9px;
}
.project-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:50px;
}
#publications .pub-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3%;
    flex-direction: column;
}
#publications .pub-bottom li{
    line-height: 40px;
    font-size:14px;
    position: relative;
    padding:3px;
    margin: 1%;
    list-style-type: none;
}
.pub-bottom li::after{
    content: '';
    height:14px;
    width:14px;
    background: rgb(21, 97, 148);
    transform: rotate(45deg);
    position: absolute;
    top:17px;
    left: -25px;
}
.pub-bottom p{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
    padding: 1%;
    cursor: pointer;
    text-align: left;
}
.pub-bottom a{
    color: #333;
    padding: 1%;
    font-size: 1.2em;
    cursor: pointer;
    text-align: left;
}


/*#header .header {
    min-height: 8vh;
    /*background-color: rgba(31,30,30,0.24);
    background-color: rgba(31,30,30,0.86);
    transition: .3s ease background-color;
}*/